/*==============================
COMMON
==================================*/
body {
overflow-x: hidden;
}
.page-wrapper {
border-top: 13px solid #fdefee !important;
}

.main.container {
padding-top: 0 !important;
padding-bottom: 0;
}

/*==============================
HEADER
==================================*/
.header-primary-container {
background-color: #fefafa;
}
.nav-container.skip-content.sticky-container {
background-color: #ceb2b1;
padding: 7px 0;
}

.navi-wrapper, .nav-regular {
background-color: transparent !important;
}

.nav-border-bottom {
display: none;
}

.vertnav-trigger, .nav-regular .nav-item.level0 > a, .nav-holder .dropdown-block .dropdown-heading {
font-size: 18px;
color: #000;
font-weight: 600;
}

.nav-regular li.level0>a .caret {
opacity: 0;
}
form#search_mini_form {
width: 90%;
float: right;
max-width: 350px;
}
.header-regular .block-search .input-text {
background-color: #93888b !important;
font-size: 16px;
}
.vertnav-trigger, .nav-regular .nav-item.level0 > a:hover,
.nav-holder .dropdown-block .dropdown-heading:hover {
background-color: #000 !important;
}
.header-regular .block-search .input-text::-webkit-input-placeholder { / Edge /
color: #ffffff;
}

.header-regular .block-search .input-text:-ms-input-placeholder { / Internet Explorer 10-11 /
color: #ffffff;
}

.header-regular .block-search .input-text::placeholder {
color: #ffffff;
}
.block-search .action.search.disabled, .block-search .action.search[disabled], fieldset[disabled] .block-search .action.search {
opacity: 1 !important;
}
.header-regular .block-search .input-text, .header-regular .block-search .action.search .icon, .header-regular .block-search.expanding .input-text {
color: #fff !important;
}
.hp-block.left-column #header-account ul li:first-child a,
.hp-block.left-column #header-account ul li:nth-child(2) a {
font-size: 0;
width: 30px;
background-position: center;
}
.hp-block.left-column #header-account ul li:first-child a {
background-image: url(/pub/media/wysiwyg/account-icon.png);
}
.hp-block.left-column #header-account ul li.link.wishlist a {
background-image: url(/pub/media/wysiwyg/wishlist-icon.png);
}
.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading {
width: 30px;
background-position: center;
background-image: url(/pub/media/wysiwyg/sell-icon.png);
background-repeat: no-repeat;
}
.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading span.icon.ic.ic-cart,
.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading span.caret:before {
display: none;
}
.hp-block.left-column #header-account ul .minicart-wrapper span.label {
display: none;
}
.links-wrapper-separators-left .links>li>* {
background-image: none;
}
.hp-block.left-column #header-account ul li a:hover {
background-color: #000;
}
/*==============================
SLIDER BANNER
==================================*/
.slideshow-wrapper-additional {
position: relative;
left: 50%;
width: 100vw;
margin-left: -50vw;
}
.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-prev, .slider-arrows2 .owl-controls.clickable .owl-buttons .owl-next {
background-color: #000;
}

.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-prev:before, .slider-arrows2 .owl-controls.clickable .owl-buttons .owl-next:before {
color: #fff;
}
.slideshow-wrapper .owl-wrapper .item img {
width: 100%;
height: 650px;
object-fit: cover;
object-position: center;
image-rendering: pixelated;
}
.slideshow-wrapper .owl-controls .owl-buttons div, .slideshow-wrapper.slider-pagination1 .owl-controls .owl-page span, .slideshow-wrapper.slider-pagination2 .owl-controls .owl-page span, .slideshow-wrapper.slider-pagination2 .owl-controls .owl-page.active span, .slideshow-wrapper.slider-pagination2 .owl-controls.clickable .owl-page.active:hover span {
background-color: #000 !important;
}

/*==============================
FOOTER
==================================*/
.footer-bottom-container.section-container {
background-color: #151515;
}

.footer-bottom-container.section-container img {
filter: grayscale(1);
width: 220px;
}
.footer-bottom-container.section-container small.copyright {
font-size: 14px;
}
.footer-container.page-footer {
background-color: #fff;
font-family: Bitter;
}
.footer-container > div.footer-container2 {
background-image: none;
}
h6.block-title.heading {
color: #722926;
font-size: 24px;
margin-bottom: 20px;
}
.footer-container.page-footer p, .footer-container.page-footer a {
font-size: 16px;
line-height: 30px;
}
.footer-container.page-footer ul.bullet li {
background-position: -5px 6px;
}
.footer-primary.footer.container .std {
display: flex;
}
.footer-primary.footer.container .std > div:first-child {
box-sizing: border-box;
padding-right: 30px;
}
.footer-primary.footer.container .std > div:last-child {
display: flex;
align-items: center;
box-sizing: border-box;
padding-left: 50px;
}
.footer-container.page-footer .social-links a span {
background-color: #fff;
border: 1px solid #ccc;
border-radius: 50%;
margin-right: 10px;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.footer-container.page-footer .social-links a span:before {
color: #ccc;
font-size: 16px;
display: block;
}

.footer-container.page-footer .social-links {
display: flex;
margin-top: 20px;
}


/*==============================
RESPONSIVE
==================================*/
@media (min-width:1560px) {
.container {
width: 1500px;
max-width: 1500px !important;
}
}