/*==============================



COMMON



==================================*/

.product-info-main .box-tocart .field.qty .label, .product-options-bottom .box-tocart .field.qty .label {
display: inline !important;
}

.owl-theme .owl-controls .owl-page span {
width: 8px !important;
height: 8px !important;
}

.slider-pagination2 .owl-controls .owl-page.active span {
width: 8px !important;
height: 8px !important;
margin: 5px;
}


.owl-controls .owl-buttons .owl-next:before {
position: relative;
bottom: 6px;
font-size: 30px;
}

.slider-arrows2 .owl-controls .owl-buttons .owl-prev {
background-position: -2px 0;
left: 10px;
top: 46%;
}

.slider-arrows2 .owl-controls .owl-buttons .owl-next {
background-position: -48px 0;
right: 10px;
top: 46%;
}

.owl-controls .owl-buttons .owl-prev:before {
position: relative;
bottom: 6px;
font-size: 30px;
}

.header-container3 .nav-container {
margin-bottom: 14px;
background: #fdefee;
}

.owl-theme .owl-controls .owl-buttons div {
opacity: 0;
}

.slider-arrows1 .owl-controls .owl-buttons div {
line-height: 45px;
}

/*.grid12-6 .owl-theme .owl-controls .owl-buttons div {
color: #FFF;
display: inline-block;
display: inline;
margin: 5px;
padding: 3px 10px;
font-size: 12px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
background: #869791;
filter: Alpha(Opacity=50);
opacity: 0.5;
}*/

.home_popular .owl-controls .owl-buttons > div:before {
font-size: 40px;
color: #fff !important;
}
/*sr wrk*/
.product-info-main .box-tocart .field.qty .label, .product-options-bottom .box-tocart .field.qty .label {
display: initial;
}

.owl-theme .owl-controls .owl-page span {
width: 8px;
height: 8px;
}

.slider-pagination2 .owl-controls .owl-page.active span {
width: 8px;
height: 8px;
margin: 5px;
}


.owl-controls .owl-buttons .owl-next:before {
position: relative;
bottom: 6px;
font-size: 30px;
}

.owl-controls .owl-buttons .owl-prev:before {
position: relative;
bottom: 6px;
font-size: 30px;
}

.header-container3 .nav-container {
margin-bottom: 14px;
background: #fdefee;
}

.owl-theme .owl-controls .owl-buttons div {
opacity: 0;
}


body {



overflow-x: hidden;



}

p {

    font-size: 15px;

    line-height: 26px;

}

.page-wrapper {



border-top: 13px solid #fdefee !important;



}







.main.container {



padding-top: 0 !important;



padding-bottom: 0;



}



.slideshow-wrapper-additional, .countDown_main, .home_page_content_pro {



position: relative;



left: 50%;



width: 100vw;



margin-left: -50vw;



}



/*==============================



HEADER



==================================*/



.header-primary-container {



background-color: #fefafa;



}



.nav-container.skip-content.sticky-container {



background-color: #fdefee;



padding: 7px 0;



}







.navi-wrapper, .nav-regular {



background-color: transparent !important;



}







.nav-border-bottom {



display: none;



}







.vertnav-trigger, .nav-regular .nav-item.level0 > a, .nav-holder .dropdown-block .dropdown-heading {



font-size: 18px;



color: #000;



font-weight: 600;



}







.nav-regular li.level0>a .caret {



opacity: 0;



}



form#search_mini_form {



width: 90%;



float: right;



max-width: 250px;



}



.header-regular .block-search .input-text {



background-color: #93888b !important;



font-size: 16px;



}



.vertnav-trigger, .nav-regular .nav-item.level0 > a:hover,



.nav-holder .dropdown-block .dropdown-heading:hover {



background-color: #000 !important;



}



.header-regular .block-search .input-text::-webkit-input-placeholder { / Edge /



color: #ffffff;



}







.header-regular .block-search .input-text:-ms-input-placeholder { / Internet Explorer 10-11 /



color: #ffffff;



}







.header-regular .block-search .input-text::placeholder {



color: #ffffff;



}



.block-search .action.search.disabled, .block-search .action.search[disabled], fieldset[disabled] .block-search .action.search {



opacity: 1 !important;



}



.header-regular .block-search .input-text, .header-regular .block-search .action.search .icon, .header-regular .block-search.expanding .input-text {



color: #fff !important;



}



.hp-block.left-column #header-account ul li:first-child a,



.hp-block.left-column #header-account ul li:nth-child(2) a {



font-size: 0;



width: 30px;



background-position: center;

position: relative;



}

.hp-block.left-column #header-account ul li:nth-child(2) a span {

    position: absolute;

    font-size: 12px;

    width: 22px;

    height: 23px;

    background-color: #fdefee;

    border-radius: 50%;

    overflow: hidden;

    color: #fff;

    text-align: center;

    line-height: 22px;

    font-weight: 600;

    right: -5px;

}

.hp-block.left-column #header-account ul li:first-child a {



background-image: url(/pub/media/wysiwyg/account-icon.png);



}



.hp-block.left-column #header-account ul li.link.wishlist a {



background-image: url(/pub/media/wysiwyg/wishlist-icon.png);



}



.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading {



width: 30px;



background-position: center;



background-image: url(/pub/media/wysiwyg/sell-icon.png);



background-repeat: no-repeat;



}



.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading span.icon.ic.ic-cart,



.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading span.caret:before {



display: none;



}



.hp-block.left-column #header-account ul .minicart-wrapper span.label {



display: none;



}



.links-wrapper-separators-left .links>li>* {



background-image: none;



}



.hp-block.left-column #header-account ul li a:hover {



background-color: #000;



}

.navi-wrapper ul.nav-holders-wrapper.right-column #nav-holder2:hover span,

.navi-wrapper ul.nav-holders-wrapper.right-column #nav-holder2:hover span:before {

    color: #fff;

}



/*==============================



SLIDER BANNER



==================================*/



.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-prev, .slider-arrows2 .owl-controls.clickable .owl-buttons .owl-next {



background-color: #000;



}







.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-prev:before, .slider-arrows2 .owl-controls.clickable .owl-buttons .owl-next:before {



color: #fff;



}



.slideshow-wrapper .owl-wrapper .item img {



width: 100%;



height: 650px;



object-fit: cover;



object-position: center;



}



.slideshow-wrapper .owl-controls .owl-buttons div, .slideshow-wrapper.slider-pagination1 .owl-controls .owl-page span, .slideshow-wrapper.slider-pagination2 .owl-controls .owl-page span, .slideshow-wrapper.slider-pagination2 .owl-controls .owl-page.active span, .slideshow-wrapper.slider-pagination2 .owl-controls.clickable .owl-page.active:hover span {



background-color: #000 !important;



}

.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading .counter {

    position: absolute;

    width: 22px;

    height: 22px;

    border-radius: 50%;

    line-height: 22px;

    right: 3px;

    background-color: #fdefee !important;

}



.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading {

    position: relative;

}





/*==============================



FOOTER



==================================*/



.footer-bottom-container.section-container {



background-color: #fff;



}







.footer-bottom-container.section-container img {



/*filter: grayscale(1);*/



width: 140px;

margin-top: -6px;

}



.footer-bottom-container.section-container small.copyright {



font-size: 14px;



}



.footer-container.page-footer {



background-color: #fff;



font-family: Bitter;



}



.footer-container > div.footer-container2 {



background-image: none;



}



h6.block-title.heading {



color: #722926;



font-size: 24px;



margin-bottom: 20px;



}



.footer-container.page-footer p, .footer-container.page-footer a {



font-size: 16px;



line-height: 30px;



}



.footer-container.page-footer ul.bullet li {



background-position: -5px 6px;



}



.footer-primary.footer.container .std {display: flex;}



.footer-primary.footer.container .std > div:first-child {



box-sizing: border-box;



padding-right: 30px;



}



.footer-primary.footer.container .std > div:last-child {



    display: flex;



    align-items: center;



    box-sizing: border-box;



    padding-left: 50px;



    max-width: 25%;



}



.footer-primary.footer.container .std > div:nth-child(3) {



    width: auto; 



}



.footer-container.page-footer .social-links a span {



background-color: #fff;



border: 1px solid #ccc;



border-radius: 50%;



margin-right: 10px;



width: 30px;



height: 30px;



display: flex;



align-items: center;



justify-content: center;



}







.footer-container.page-footer .social-links a span:before {



color: #ccc;



font-size: 16px;



display: block;



}







.footer-container.page-footer .social-links {



display: flex;



margin-top: 20px;



}



.footer-primary-container {

    background-color: #fefafa;

    border-top: 1px solid rgba(206, 178, 177, 0.24);

}











/*================================================



OUR FEATURED PRODUCTS



2602



=====================================================*/







.block.itemslider .block-title {



text-align: center;



margin: 0;



padding: 0;



}







.block.itemslider .block-title strong {



font-size: 40px;



font-weight: 600;



text-transform: uppercase;



display: block;



margin: 70px 0;



color: #000;



line-height: normal;



}





.home_popular .block-title {

    border: 0;

}



.home_popular .product-item-info .product-item-img {



background-color: #fff;



height: auto;



min-height: auto;



box-shadow: 0px 0px 3px #ccc;



}





.home_popular .product-item-info .product-item-img img {

    margin: auto;

    height: 170px;

    object-fit: contain;

}





.home_popular .owl-item .item {



padding: 5px;



}



.home_popular .product-item-info .product-item-details .product-item-link {



font-size: 13px;



font-weight: 600;



line-height: 20px;



}



.home_popular .product-item-info .product-item-img .actions-secondary,



.home_popular .product-item-info .product-item-details .product-reviews-summary,



.home_popular .product-item-info .product-item-details .price-box,



.home_popular .product-item-info .product-item-details .product-item-actions,



.home_popular .product-item-info span.sticker-wrapper.top-left {



display: none;



}



.home_popular .owl-controls .owl-buttons {

    top: 60px;

    right: 0px;

    left: 5px;

    width: calc(100% - 10px);

}



.home_popular .owl-controls .owl-buttons > div {



background-color: rgba(255, 255, 255, 0.8);



width: 35px;



height: 60px;



display: flex;



align-items: center;



justify-content: center;



box-shadow: 0px 0px 10px #8c8c8c;



}







.home_popular .owl-controls .owl-buttons > div:before {



font-size: 40px;



color: #777;



}







.home_popular .owl-controls .owl-buttons > div.owl-next {



right: 0;



float: right;



}



.home_popular .owl-controls .owl-buttons > div:hover:before {



color: #fff;



}















/*=============================



COUNT DOWN HOME PAGE



================================*/



.countDown_main {

    background-color: #f8f8f8;

    padding: 120px 0 100px 0;

    margin-top: 40px;

}

.content-product-deal .count-image-hold {

    margin-top: -100px;

}

.count_data {



display: flex;



align-items: center;



}



.count_data > div {flex: 0 0 100%;}



.count_data .CD_dataLeft h2 {



font-size: 35px;



font-weight: 100;



color: #000;



}



.count_data .CD_dataLeft .CD_itemName {



font-size: 20px;



margin-bottom: 0px;



text-transform: uppercase;



}



.CD_price {



margin-top: 50px;



}



.CD_pricers {



font-size: 14px;



padding: 10px 25px;



display: inline-block;



border: 1px solid #ccc;



border-radius: 30px;



margin-right: 5px;



font-weight: 600;



}



.CD_pricers.CD_pricersSelected {



background-color: #f33c3c;



color: #fff;



border-color: #f33c3c;



}



.CD_pricers:last-child {



position: relative;



}



.CD_pricers:last-child:after {content: "";width: 60px;height: 1px;background-color: #f33c3c;position: absolute;left: 21px;transform: rotate(6deg);top: 19px;}



.CD_time {



margin-top: 25px;



}



.CD_time ul {



margin: 0;



padding: 0;



}



.CD_time ul li {



display: inline-block;



margin-right: 25px;



text-align: center;



font-size: 11px;



font-weight: 900;



color: #000;



letter-spacing: 1px;



}



.CD_time ul li span {



width: 52px;



height: 52px;



background-color: #fff;



border-radius: 50%;



display: flex;



align-items: center;



justify-content: center;



margin-bottom: 15px;



font-size: 22px;



box-shadow: 1px 3px 15px #e2e2e2;



font-weight: 600;



}



.count_dataRight a {



float: left;



}



.count_dataRight a img {



width: 100%;



height: 430px;



object-fit: cover;



}



.CD_more .CD_moreItems {



display: inline-block;



}



.CD_more ul {



margin: 0;



padding: 0;



display: flex;



}



.CD_more .CD_moreItems a {



border: 1px solid transparent;



}



.countDown_main > div {



align-items: center;



display: flex;



}



.CD_more .CD_moreItems a:hover, .CD_more .CD_moreItems a:focus{



box-shadow: 1px 3px 15px #e2e2e2;



}



.content-product-deal .main-count-div, .content-product-deal .count-image-hold {



    width: 50%;



}



.content-product-deal.active {



    display: flex !important;



}



.content-product-deal .count-image-hold img {



     width: 250px;



     height: 300px;



     object-fit: cover;



     object-position: center;



     max-width: 250px;



     margin: 0 auto !important;



     display: block;



     border: 5px solid #935049;



}



/*=============================



HOMEPAGE SLIDER BOTTOM CATEGORY



================================*/



.sliderbottom_categoryUL {



padding: 0;



margin: 0;



width: 100%;



display: flex;



}







.sliderbottom_categoryUL li {



padding: 15px;



}



.sliderbottom_categoryUL li a h5 {



position: absolute;



top: 0;



width: 100%;



background-color: rgba(148, 68, 72, .68);



color: #fff;



font-size: 20px;



text-align: center;



height: 50px;



display: flex;



align-items: center;



justify-content: center;



top: calc(60% - 25px);



margin: 0;



text-transform: uppercase;



z-index: 2;



}



.sliderbottom_categoryUL li a:hover h5 {



background-color: rgba(0, 0, 0, 0.68);



}



/*=============================



SUBSCRIPTION SECTION



================================*/



.subscribe_LR a, .sliderbottom_categoryUL li a, .CD_more .CD_moreItems a, .home_page_content_pro a {



position: relative;



float: left;



width: 100%;



overflow: hidden;



}



.subscribe_LR img, .sliderbottom_categoryUL li a img,



.CD_more .CD_moreItems a img{



width: 100%;



height: 270px;



object-fit: cover;



}



.CD_more .CD_moreItems a img {



height: 180px;



transform: scale(.9);



}







.subscribe_LR a:after, .sliderbottom_categoryUL li a:after, .home_page_content_pro a:after {



content: "";



width: 100%;



height: 100%;



position: absolute;



left: 0;



top: 0;



outline: 2px solid #fff;



}







.subscribe_LR a:hover:after, .sliderbottom_categoryUL li a:hover:after,



.home_page_content_pro a:hover:after {



outline: 2px solid #fff;



outline-offset: -15px;



background-color: rgba(0, 0, 0, 0.2);



}



.subscribe_LR a:hover img, .sliderbottom_categoryUL li a:hover img,



.home_page_content_pro a:hover img {



transform: scale(1.1);



}



.CD_more .CD_moreItems a:hover img, .CD_more .CD_moreItems a:focus img {



transform: scale(1.25);



}







.subscribe_center {



background-image: url('/pub/media/wysiwyg/subscription-bg.jpg');



}



.block_con_buttom > div {



display: flex;



height: 100%;



}



.block_con_buttom > div > div > div {



height: 270px;



background-color: #f9fafe;



position: relative;



overflow: hidden;



}



.block_con_buttom > div > div > div > a {



    position: static;



}



.subscribe_center {



display: flex;



align-items: center;



flex-direction: column;



justify-content: center;



}



.subscribe_center h4 {



font-size: 25px;



text-transform: uppercase;



font-weight: 500;



color: #2f2f2f;

text-align: center;



}



.subscribe_center h4 span {



color: #5b77d8;



}



.subscribe_center h3 {



font-weight: 900;



color: #000;



font-size: 26px;



text-transform: uppercase;



text-align: center;



}



.subscribe_center p {



max-width: 70%;



margin: 0 auto;



text-align: center;



color: #444;



line-height: 24px;



}



.subscribe_FormMain {



margin-top: 15px;



width: 500px;



text-align: center;



max-width: 100%;



}



.subscribe_FormMain > div.block.newsletter {



width: 100%;



}



.subscribe_FormMain form.form {



border: 1px solid #cacaca;



border-radius: 30px;



}



.subscribe_FormMain form.form .control input {



border-radius: 30px 0 0 30px;



}



.subscribe_FormMain form.form .field.newsletter {



margin-right: 0;



}



.subscribe_FormMain form.form .control input {}







.block.newsletter .form.subscribe .actions button {



border-radius: 0 30px 30px 0;



background-color: #5b77d8;



color: #fff;



border: 0;



float: right;



}



.block.newsletter .form.subscribe .actions button:hover {



background-color: #000;



}



.subscribe_LR img {



object-fit: contain !important;



}



/*=============================



FOOTER TOP FREE SHIPPING SECTION



================================*/



.footer-top-container {



background-color: #f5f5f5 !important;



padding: 50px 0;





}



.cms-ultimo-home-page-01 .footer-top-container {



display: block;



}



.footer_above_content .grid12-3 {



margin-top: 20px;



margin-bottom: 20px;



}



.topStrip_box {



display: flex;



align-items: center;



}



.topStrip_box .topStrip_boxLeft {



margin-right: 15px;



}



.footer_above_content .grid12-3:nth-child(2) .topStrip_box .topStrip_boxLeft img,



.footer_above_content .grid12-3:nth-child(4) .topStrip_box .topStrip_boxLeft img{



width: 70px;



}



.topStrip_box .topStrip_boxLeft img {



width: 80px;



opacity: .5;



}



.topStrip_box .topStrip_boxRight .topStrip_heading {



margin-bottom: 5px;



text-transform: uppercase;



font-weight: 900;



}



.topStrip_box .topStrip_boxRight .topStrip_Con {



margin-bottom: 0;



color: #808080;



line-height: initial;



}



.topStrip_box:hover img {



transform: scale(1.2);



opacity: 1;



}



.topStrip_boxRight {

    text-align: left;

}



.topStrip_box img {



transition: ease 0.5s all;



}







.topStrip_box:hover .topStrip_heading {



color: #722926;



}































/*/ COMMON /*/



.font_openSans,



.topStrip_box .topStrip_boxRight .topStrip_Con,



.topStrip_box .topStrip_boxRight .topStrip_heading,



.subscribe_center h4, .subscribe_center h3, .subscribe_center p,



.count_data .CD_dataLeft h2 {



font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;



}



.transition_time, .subscribe_LR img, .subscribe_LR a, .subscribe_LR a:after,



.block.newsletter .form.subscribe .actions button, .sliderbottom_categoryUL li a h5,



.sliderbottom_categoryUL li a:after, .sliderbottom_categoryUL li a img, .CD_more .CD_moreItems a, .CD_more .CD_moreItems a img, .home_page_content_pro a:after, .home_page_content_pro a img, .topStrip_box img {



transition: ease 0.5s all;



}

.header-primary-container {

background-color: #ffffff;

}









/*==============================

CHECKOUT

===============================*/



















/*=== Inner Page Formmating ==*/

.page-title-wrapper {

    padding: 30px 0;

}

.login-container .block.block-customer-login, #form-validate,

.form_feedback {

    background: #fefafa;

    padding: 50px;

    box-sizing: border-box;

}

.amazon-validate-container .block .block-title strong, .login-container .block .block-title strong {

    font-weight: 500;

    font-size: 24px;

}

.login-container .block.block-customer-login .fieldset > .field:not(.choice) > .label,

#form-validate label,

.form_feedback label {

    padding: 6px 15px 0 0;

    text-align: left;

    width: 100%;

    box-sizing: border-box;

    float: none;

    margin-bottom: 8px;

}

.login-container .block.block-customer-login .control input{

    height: 50px;

}

.login-container .block.block-customer-login .fieldset:after,

.login-container .block.block-customer-login  .actions-toolbar {

    margin: 0;

}

.login-container .actions-toolbar .primary .action {

    background: #7f3c37;

    padding: 15px 30px;

    color: #fff;

    text-transform: uppercase;

    margin-bottom: 10px;

}

.login-container .block.block-customer-login  .actions-toolbar .secondary a {

    color: #b55d57;

    font-weight: 800;

}

#form-validate legend.legend {

    border-bottom: 1px solid #e8e8e8;

    margin-bottom: 15px;

    padding-bottom: 12px;

    width:100%;

}





/* products */

.breadcrumbs {

    padding: 25px 0;

    margin-bottom: 0;

}

.items-grid.equal-height .item, 

.products-grid.csmarketplace-vendors-grid li, .category-products .products-list li {

    outline: 1px solid rgba(206, 178, 177, 0.28);

}

.product-primary-column.product-shop .page-title-wrapper {

    padding-left: 15px;

}

.products-grid.csmarketplace-vendors-grid li, .category-products .products-list li {

    padding-top: ;

}



.product-lower-primary-column {

    margin-top: 50px;

}

.product.data.items.style1.show-tabs > .item.title > .switch {

    margin-right: 1px;

    background-color: #fefafa !important;

}

.product.data.items.style1.show-tabs > .item.title {

    background-color: #fdefee;

}

.product.data.items.style1.show-tabs > .item.title.active a {

    margin-right: 0;    

    margin-left: -1px;

}

.product.data.items.style1.show-tabs > .item.content {

    border: 1px solid #d1d1d1 !important;

    padding-left: 15px !important;

}



.product.data.items.style1.show-tabs > .item.content p { 

    line-height: 27px;

}

.opc-wrapper .step-content {

    padding-top: 20px;

}



.category-description {

    line-height: 26px;

}

.product-lower-secondary-column.custom-sidebar-right.grid12-3 .block.itemslider .block-title strong {

    margin-bottom:30px

}

.product-columns-wrapper {margin-top: 40px;}

.product-view .product-primary-column.product-shop.grid12-5.product-info-main .box-tocart .fieldset > div {

    float: none !important;

}

.catalog-category-view .sidebar-main ul.uaccordion.uaccordion-style1.sideacco li a:hover {

    background-color: #000;

    color: #fff;

}

.product-view .product-img-column.grid12-4.no-left-gutter.product.media {

    outline: 1px solid rgba(206, 178, 177, 0.28);

}



.csmarketplace-vshops-view .category-products ul.products-list {

    padding: 0 !important;

    margin: 0;

    display: block;

}



.csmarketplace-vshops-view .category-products ul.products-list > li {

    outline: 0;

    padding: 0;

    margin-bottom: 50px;

}





/* account */

.account-nav .item.current a, .account-nav .item.current strong {

    border-color: #813d39;

    font-weight: 600;

}

.block-dashboard-info .block-content,

.block-dashboard-addresses .block-content,

.block-addresses-default .block-content {

    display: flex;

    background-color: #fefafa;

    padding: 15px;

    flex-wrap: wrap;

}



.block-dashboard-info .block-content > div,

.block-dashboard-addresses .block-content > div,

.block-addresses-default .block-content > div{

    flex: 0 0 50%;

    background-color: #fefafa;

    padding: 15px;

    box-sizing: border-box;

    border-left: 1px solid rgba(206, 178, 177, 0.28);

}

.fieldset > .field:not(.choice) > .label,

.fieldset > .field.choice:before, .fieldset > .field.no-label:before  {

    min-width: 100%;

    float: left;

    text-align: left !important;

    font-weight: 500;

    margin-bottom: 10px;

}

.abs-margin-for-forms-desktop, .fieldset .legend, .column:not(.sidebar-main) form .actions-toolbar, .column:not(.sidebar-additional) form .actions-toolbar, .login-container .fieldset:after {

    margin-left:0 !important;

}









/* market place */

.products-grid.csmarketplace-vendors-grid li, .category-products .products-list li {

    outline: 1px solid rgba(206, 178, 177, 0.28);

    padding: 20px 5px;

    flex: 0 0 25%;

    height: auto;

    min-height: auto !important;

    box-sizing: border-box;

}



.products-grid.csmarketplace-vendors-grid, .category-products .products-list {

    display: flex;

    flex-wrap: wrap;

    margin-top: 20px;

}



.products-grid.csmarketplace-vendors-grid li > div, .category-products .products-list li {

    height: 100%;

}



/* common at bottom*/









/* border brown*/

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], select,

.column.main .opc-block-summary .product-item,

.opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary > .title, .checkout-agreements-items .checkout-agreements-item-title, textarea {

    border-color: #fdefee;

}





/*light pink bg*/

.product-primary-column.product-shop .page-title-wrapper,

.additional-bg-color, .cart-summary, .opc-block-summary, .opc-estimated-wrapper, .bundle-options-container .block-bundle-summary, .block-collapsible-nav .content, .checkout-agreements li{

    background-color: #fefafa !important;

}





/*light brown bg*/

.product-item .tocart, .product-items .item .tocart,

.modes-mode, .sorter-action, .pages .page, .pages .action, .pages .action.previous, .pages .action.next,

.nav-regular .nav-panel--dropdown .nav-item > a:hover,

.ib, .product.data.items.style1.show-tabs > .item.title,

.opc-progress-bar-item._active:before, .opc-progress-bar-item._active > span:before, .opc-wrapper .shipping-address-item.selected-item:after, .filter-title strong[data-count]:after, .main-color--bg,

.table-comparison .action.tocart {

    background-color: #fdefee !important;

}

/*black bg*/

.minicart-wrapper .action.showcart .counter:not(.ib),

.header-container .skip-link .counter,

.dropdown-block .dropdown-heading .counter, 

.nav-regular:not(.nav-vert) .nav-item.level0:hover > a,

.review-form .action.submit.primary,

.modes-mode.active, 

.pages .current .page,

.action.primary {

    background-color: #333 !important;

}


.sticker.custom {
    background-color: #f12b63!important;
    color: #fff;
}
/*color black*/

.product-item .tocart, .product-items .item .tocart,

.modes-mode, .sorter-action, .pages .page, .pages .action, .pages .action.previous, .pages .action.next,

.navi .nav-panel--dropdown a:hover, .ib, .action.primary, .footer-container.page-footer .social-links a span:before,

.table-comparison .action.tocart {

    color: #fff !important;

}



/*color white*/

.modes-mode.active:before,

.review-form .action.submit.primary,

.header-container .skip-link .counter, .dropdown-block .dropdown-heading .counter,

.modes-mode.active, 

.pages .current .page,

.action.primary {

    color: #fff !important;

}

/*color dark brown*/
a.action:hover, .price-box .price, .sideacco li.current > a, h2.product-name a:hover, h3.product-name a:hover, h4.product-name a:hover, h5.product-name a:hover, p.product-name a:hover, .account-nav-content a:hover, .footer-container.page-footer a:hover{

    color: #813e3a !important;

}
button:hover, .cart.table-wrapper .actions-toolbar>.action:hover, .action-gift:hover {
    color: #fff!important;
    background-color: #813e3a !important;
}

.abs-shopping-cart-items .action.continue:hover, .block-cart-failed .action.continue:hover, .cart-container .form-cart .action.continue:hover {
    background: #813e3a;
    color: #fff!important;
}


/*hover bg dark brown*/

.actions-toolbar > .primary .action:last-child:hover, .actions-toolbar > .secondary .action:last-child:hover {

    background-color: #813e3a !important;

}



.sidebar.sidebar-additional a.action.details:hover {

    background-color: transparent !important;

}





.footer-container.page-footer .social-links a span:hover {

    background: #000 !important;

}



.footer-container.page-footer .social-links a span:hover:before,

a.action.back:hover {

    color: #FFF !important;

}



#login-form a.action.remind:hover,

a.action.create.primary:hover {

    color:#fff !important;

    background-color:transparent !important;

}











.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading .counter {

    position: absolute;

    width: 22px;

    height: 22px;

    border-radius: 50%;

    line-height: 22px;

    right: 3px;

}



.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading {

    position: relative;

}





.ui-dialog button#top-cart-btn-checkout {

    background-color: #fdefee !important;

}



.ui-dialog .hp-block.left-column #header-account ul li:first-child a {

    background-image: none;

}

.product-social-links .action.feature:hover .icon {

    background-color: #000 !important;

}

.ui-dialog-content ol li:first-child a {

    width: auto !important;

}

.ui-dialog-content ol li:first-child a {

    width: auto !important;

}



.ui-dialog-content ol li:first-child a {

    background-image:none !important;

}









/* compare */

.table-comparison .product-item-actions > .actions-primary + .actions-secondary {

    margin-top: 5px !important;

}

.table-comparison .cell.remove .action.delete {

    background-color: #fdefee;

    height: 25px;

    width: 25px;

    line-height: 25px;

    border-radius: 50%;

}

#skip-links > div#header-account ul #minicart {

    width: 100% !important;

    float: left;

}



#skip-links > div#header-account ul #minicart > div {

    width: 100%;

    text-align: left;

    padding-left: 10px;

}

.header-mobile .skip-link.skip-active {

    color: #ffffff !important;

}



.hp-block.left-column #header-account ul li:nth-child(3) a {

    margin-left: 15px;

    background-image: url(/pub/media/wysiwyg/sign-out-icon.png);

    width: 30px;

    height: 30px;

    font-size: 0;

    background-position: center;

}



.hp-block.left-column #header-account ul li:nth-child(3) a:hover {background-color: #000;}



.csmarketplace-vshops-index .shipping h2 {

    font-size: 28px;

}

.csmarketplace-vshops-index .vendor_list_page .toolbar.toolbar-products,

.csmarketplace-vshops-view  .toolbar.toolbar-products {

    justify-content: initial;

}

.csmarketplace-vshops-index .vendor_list_page .toolbar.toolbar-products > *,

.csmarketplace-vshops-view .toolbar.toolbar-products > * {

    flex-grow: inherit;

}

.csmarketplace-vshops-index .vendor_list_page .toolbar-sorter.sorter,

.csmarketplace-vshops-view  .toolbar-sorter.sorter  {  

    margin-left:auto;

    float: right;

    text-align: right;

}













/* about us */

.about_para {

    text-align: center;

}

.cms-about-us-page .column.main p {

    max-width: 900px;

    margin: auto;

    margin-bottom: 40px;

}

.cms-about-us-page .column.main img {

    max-width: 100%;

    margin: auto;

    display: block;

    margin-bottom: 30px;

}



.cms-about-us-page .column.main {

    width: 100% !important;

    margin: 0;

}

.cms-about-us-page .page-title h1 {

    text-align: center;

}







/* cms pages */

.cms-page-view .column.main{

    max-width: 80%;

}



.cms-page-view .column.main p{

    text-align: justify;

}



.cms-page-view .column.main h3{

    margin-top: 30px;

}

.cms-page-view .column.main ul {

    list-style: disc;

    padding-left: 25px;

}

.form_feedback label {

    float: left;

}

.form_feedback {

    max-width: 700px;

    margin-bottom: 40px;

    margin-top: 20px;

}

.form_feedback input {

    margin-bottom: 20px;

}

.form_feedback a.submit_beedback {

    background: #000;

    padding: 15px 30px;

    color: #fff;

    text-transform: uppercase;

    margin-bottom: 10px;

    border: 0;

    margin-top: 25px;

    display: block;

    max-width: 40px;

}

.form_feedback a.submit_beedback:hover {

    background: #7f3c37;

}



.cms-about-us-page .page-title-wrapper {

    text-align: center;

}



.cms-page-view .page-title-wrapper {

    padding-bottom: 10px;

}

.cms-page-view.cms-about-us-page .column.main {

    max-width: 100%;

}

.cms-page-view.cms-about-us-page .column.main p {

    text-align: center;

}

.cms-page-view .column.main p a:hover {

    color: #722926;

}



.cms-page-view .column.main p img {vertical-align: middle;margin-right: 6px;}





/*==============================



RESPONSIVE



==================================*/



@media (min-width:1560px) {



.container {



width: 1500px;



max-width: 1500px !important;



}



}







@media (max-width:1440px) {



.content-product-deal .main-count-div {



    width: 60%;



}



.content-product-deal .count-image-hold {



    width: 40%;



}



.CD_more .CD_moreItems a img {



    transform: scale(.8);



}



}







@media (max-width:1366px) {



.block.itemslider .block-title strong {



    font-size: 28px;



    margin-bottom: 35px;



}



.slideshow-wrapper .owl-wrapper .item img {



    width: 100%;



    height: 500px;



}





.home_popular .owl-wrapper-outer {



    margin-bottom: -30px !important;



}



.home_popular .owl-controls .owl-buttons {



top: 70px;



}

.home_popular .owl-controls .owl-buttons > div {

        box-shadow: 0px 0px 3px #8c8c8c;

}

.nav-container.skip-content.sticky-container {



    background-color: #fdefee;



    padding: 0;



}



}











@media (max-width:1199px) {



.subscribe_LR img, .sliderbottom_categoryUL li a img, .CD_more .CD_moreItems a img {



    width: 100%;



    height: 230px;



    object-fit: cover;



}



.footer_above_content .grid12-3 {



    width: 50%;



    float: left;



    height: 60px;



    padding: 0;



    margin: 15px 0;



}







.footer-primary.footer.container .std {



    display: flex;



    flex-wrap: wrap;



    align-items: stretch;



}







.footer-primary.footer.container .std > div {



    width: 50%;



    margin: 0;



}







.footer-primary.footer.container .std > div ul li {



    width: 50%;



    float: left;



    margin: 0;



    box-sizing: border-box;



}







.footer-primary.footer.container .std > div ul li a {



    font-size: 15px;



    white-space: nowrap;



}







.footer-primary.footer.container .std > div {



    flex: 0 0 50%;



    border: 1px solid #ccc;



    padding: 15px;



    box-sizing: border-box;



    height: 100%;



    margin-bottom: 0;



    max-width: 50% !important;



    height: 290px;



}



.slideshow-wrapper .owl-wrapper .item img {



    height: 410px;



}



.CD_time ul li {



    margin-right: 10px;



}



.CD_more ul {



    display: block;



}



.CD_more .CD_moreItems {



    display: block;



    float: left;



    width: 50%;



}



.CD_more .CD_moreItems a {



    width: 200px !important;



    height: 200px;



}



.CD_time ul li {



    margin-right: 15px;



}



.content-product-deal .count-image-hold img {



    width: 200px;



    height: 200px;



    max-width: 200px;



}

.products-grid.csmarketplace-vendors-grid li, .category-products .products-list li {

        flex: 0 0 31.333%;

}

#itemslider-product-related .product-item-info {

    display: flex;

    flex-direction: column;

    border-bottom: 1px solid rgba(206, 178, 177, 0.28);

}



#itemslider-product-related .product-item-info > div {

    max-width: 100%;

    float: none;

    margin: 0;

}

#itemslider-product-related .owl-wrapper,

#itemslider-product-related .owl-wrapper .owl-item  {

    width: 100% !important;

}

.csmarketplace-vshops-index .shipping h2 {

    font-size: 21px;

}

}









@media (max-width:1023px) {



    .sliderbottom_categoryUL {



    flex-wrap: wrap;



    justify-content: center;



}



.sliderbottom_categoryUL li {



    flex: 0 0 33.333%;



    margin: 0;



    box-sizing: border-box;



}



}





/*@media (min-width: 992px) {

    .cms-index-index .footer-primary-container {

        background-color: #fff;

    }

}*/





@media (max-width:991px) {



.block_con_buttom > .container {



    display:flex;



    flex-wrap: wrap;



}



.block_con_buttom > .container > div:nth-child(2) {



    flex:0 0 100%;



    max-width:100%;



    order:3;



}



.block_con_buttom > .container > div:nth-child(1), 



.block_con_buttom > .container > div:nth-child(3) {



    flex:0 0 50%;



    max-width: 50%;



    width: 50%;



}



.block_con_buttom > .container > div:nth-child(3) {



    order:2;



}











.block_con_buttom > .container > div {



    margin: 0 0 10px 0;



    height:auto;



}







.block_con_buttom > div > div > div.subscribe_center {



    padding: 30px 15px;



}







.block_con_buttom > div > div > div {}







.footer-primary.footer.container .std > div {



    flex: 0 0 100%;



    max-width: 100% !important;



    height: auto;



    padding-left: 15px !important;



}







.footer-primary.footer.container .std > div:last-child img {



    max-width: 300px;



}







.footer-primary.footer.container .std > div:last-child .block-title.heading {



    display: none;



}



#skip-links > div {



    background-color: #fdefee;



}



.slideshow-wrapper .owl-wrapper .item img {



    height: auto;



}



.content-product-deal .count-image-hold {



    display: none;



}



.content-product-deal .main-count-div {



    width: 100%;



}

.CD_more .CD_moreItems a {

    width: 150px !important;

    height: 150px;

    display: block;

    margin: auto;

    float: none;

}

.products-grid.csmarketplace-vendors-grid li, .category-products .products-list li {

        flex: 0 0 50%;

}

.product-view  .product-lower-primary-column.grid12-9,

.product-view .product-lower-secondary-column.custom-sidebar-right.grid12-3,

.product-view .product-secondary-column.custom-sidebar-right.grid12-3.no-right-gutter {

    width: 100%;

    margin-bottom: 0;

}

.product-view .product-primary-column.product-shop.grid12-5.product-info-main {

    width: 64%;

}

.product-view .product-lower-secondary-column.custom-sidebar-right.grid12-3 .inner {

    border: 0;

    padding-left: 0;

}

.product-view {

    display: flex;

    flex-wrap: wrap;

}



.product-view .product-img-column.grid12-4.no-left-gutter.product.media {

    order: -1;

}



.product-view .product-primary-column.product-shop.grid12-5.product-info-main {

    order: 1;

}

.product-view .product-lower-primary-column.grid12-9 {

    order: 2;

}

.product-view .product-secondary-column.custom-sidebar-right.grid12-3.no-right-gutter {

    order: 3;

}



.product-view .product-lower-secondary-column.custom-sidebar-right.grid12-3 {

    order: 5;

    margin-top: -50px;

}

.cms-page-view .column.main {

    max-width:100%;

}



}



 @media (max-width: 769px) {

    #skip-links > div {

    padding: 0;

}

form#search_mini_form {

    width: 100%;

    float: none;

    max-width: 350px;

    margin: auto;

}



#skip-links > div#header-account ul li {

    border-bottom: 1px solid rgba(206, 178, 177, 0.28);

}



.header-mobile .skip-link.skip-active { 

    color: #fff;

}



#skip-links > div#header-nav > #mainmenu > ul > li {

    border-bottom: 1px solid rgba(206, 178, 177, 0.28);

}



#skip-links > div#header-nav > #mainmenu > ul > li .nav-submenu li a {

    border-bottom: 1px solid rgba(206, 178, 177, 0.28);

    background-color: #fefafa;

}

.nav-mobile .nav-item.level0 > a:hover, .header-mobile .skip-content .links > li > a:hover {

    background-color: #000000 !important;

}

 }







@media (max-width:767px) {



    .slideshow-wrapper .owl-wrapper .item img {



    height: 280px;



}



.countDown_main > div > div {



    flex: 0 0 100%;



    max-width: 100%;



}







.countDown_main > div {



    flex-wrap: wrap;



}



.countDown_main > div > div {



    padding: 0 20px;



        box-sizing: border-box;



}



.count_data > div {



    flex: 0 0 100%;



}



.footer_above_content .grid12-3 {height: auto;margin-bottom: 0;}







.topStrip_box {



    border: 1px solid #ccc;



    padding: 10px 10px;



    height: auto;



}



.footer-primary.footer.container .std > div:last-child {



    display: none;



}



.block.itemslider .block-title strong {



    font-size: 25px;



    margin: 30px 0;



}



.CD_more .CD_moreItems {



    display: block;



    float: left;



    width: 25%;



}



.CD_more .CD_moreItems a img {



    height: 180px !important;



}

    .pagination-pos-bottom-centered {

        padding-bottom: 0;

    }

    .home_popular .owl-controls .owl-buttons > div {

    width: 25px;

    height: 30px;

    }

    .home_popular .owl-controls .owl-buttons > div:before {

    font-size: 25px;

}

.subscribe_center p {

    max-width: 100%;

}

.countDown_main {

    background-color: #f8f8f8;

    padding: 50px 0 50px 0;

    margin-top: 40px;

}



.home_popular .product-item-info .product-item-img img {





    height: 150px;

    object-fit: contain;



}

.product-columns-wrapper {

    margin-top: 0;

}

.block-dashboard-info .block-content > div,

.block-dashboard-addresses .block-content > div,

.block-addresses-default .block-content > div {

    flex: 0 0 100%;

}

.page-products .columns {

    padding-top: 0;

}

.minicart-wrapper {

    margin-top: 0px !important;

}

.csmarketplace-vshops-index .vendor_list_page .toolbar-sorter.sorter,

.csmarketplace-vshops-view  .toolbar-sorter.sorter  {

    position: static;

    float: right;

    text-align: right;

}

.login-container .block.block-customer-login, #form-validate,

.form_feedback {

    padding: 15px; 

}

.CD_time {

    margin-bottom: 25px;

}

}







@media (max-width:600px) {



    .sliderbottom_categoryUL li {



    flex: 0 0 50%;



}



.subscribe_LR img, .sliderbottom_categoryUL li a img, .CD_more .CD_moreItems a img {



    height: 200px;



}



.footer_above_content .grid12-3 {height: auto;margin-bottom: 0;}







.topStrip_box {



    border: 1px solid #ccc;



    padding: 10px 10px;



    height: auto;



}







.footer-primary.footer.container .std > div:last-child {



    display: none;



}







.block_con_buttom > div > div > div,

.subscribe_LR img {



    height: auto;



}



.sliderbottom_categoryUL li {



    padding: 5px;



}



.slideshow-wrapper .owl-wrapper .item img {



    height: 130px;



}



}



@media (max-width:580px) {



.CD_more .CD_moreItems {

    display: block;

    float: left;

    width: 50%;

    outline: 1px solid #eee;

    text-align: center;

    margin-bottom: 0;

}

.sorter-options {

    width: 100px;

} 

.subscribe_center h4, .subscribe_center h3 {

    font-size: 18px;

}

.CD_more .CD_moreItems a {

    width: 100% !important;

}

.CD_more .CD_moreItems a img {

    object-fit: contain !important;

}

}



.vertnav-trigger, .nav-regular .nav-item.level0 > a, .nav-holder .dropdown-block .dropdown-heading {

        font-size: 10px !important;

      }

      .nav-regular li.level0 > a {

          padding: 0 8px;

      }







@media only screen and (max-width: 769px) {



.header-container .header-m-top .currency-switcher.currency-switcher-mobile .dropdown-heading .label {

display: inline !important;

}



.header-m-container .header-m-top .inner-container {

display: flex;

justify-content: space-between;

align-items: center;

}

.header-m-container .header-m-top .item-right {

display: flex;

align-items: center;

}

}



.header-container3 .header-primary-container{

    margin-bottom: 14px;

}

.header-container3 .nav-container{

    margin-bottom:14px;

}



/*latest changes fbk 26-06*/


body, h1, h2, h3, h4, h5, h6, p, a, span, li, .block-title{
    font-family:arial !important;
}
h1, h2{
    text-transform:uppercase !important;
}
.ic{
        font-family: ThemeIcons !important;
}
.nav-container.skip-content.sticky-container{
    padding: 0px 0;
}
.vertnav-trigger, 
.nav-regular .nav-item.level0 > a, 
.nav-holder .dropdown-block .dropdown-heading{
    font-size:15px !important;
}
.nav-regular .classic > .nav-panel--dropdown{
    padding:0
}
.nav-regular .classic > .nav-panel--dropdown > li > a{
    padding:5px 10px;
}
.nav-regular .nav-item > a{
    font-size: 13px !important;
}
.nav-regular:not(.nav-vert) .nav-item.level0:hover > a{
    color:#fff;
}
.nav-regular .nav-item ul li {
    border-bottom: 1px solid #ddd;
}
.nav-regular .classic > .nav-panel--dropdown{
    min-width:16em;
    width:auto !important;
}


.home_popular .owl-controls .owl-buttons > div{
    height:35px;
    width:35px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.owl-theme .owl-controls .owl-buttons div{
    padding:0;
    height:35px;
    width:35px;
    display:flex;
    align-items:center;
    justify-content:center; 
}
.tmp3-title {
    color: #0083d0;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.product-social-links .addto-links-icons .action .icon, .product-items .item .addto-links-icons .action .icon, .table-comparison .addto-links-icons .action .icon{
    line-height:40px !important;
}




/*.top-links ul{
  display:flex;
  align-items:center
}*/

.hp-block.left-column #header-account ul li:nth-child(2) a{
height:36px;
position:relative;
}
.hp-block.left-column #header-account ul li:nth-child(2) a span{
top:0;
}

/*snto design 29/06*/



@media (min-width: 1025px) {
    .page-header .switcher .options .action.toggle:after, .page-footer .switcher .options .action.toggle:after {
    position: relative;
    top: 7px;
    color: #bbb !important;
    }
}
#header-search .block-search .input-text::placeholder{
color: #fff !important;
}

.nav-regular li.level0>a .caret {
opacity: 1;
}

@media (max-width: 767px) {
#header-container .dropdown-block.filled-heading .dropdown-heading .inner-heading {padding: 0; }
.header-container .logo-wrapper--mobile .logo {margin-bottom: 20px; }
.dropdown-block .dropdown-heading .dropdown-icon {display: none; }

}

#top .dropdown-block .caret { opacity: 1; }

/*popup design*/
.block-mgs-popup .popup-content{
    padding: 20px !important;
}

.img-popup{
    padding: 0px 0px 0px 10px;

.popup-content{
    padding:0 !important;
}
.content-popup{
  padding:5%!important;
}

/*rvi wrk*/
.mgs-popup.modal-popup #mgs-popup {
width: 60%;
height: 100%;
}

.content-popup {
padding: 5%!important;
margin-top: 0px !important;
}

.img-popup {
padding: 0px 12px;
}

.modal-popup .action-close:before {
line-height: 20px !important;
}

@media only screen and (max-width: 767px){
.modal-popup.modal-slide {
left: 0px !important;
}
.mgs-popup.modal-popup #mgs-popup {
width: 100%;
height: 100%;
}
.mgs-popup.modal-popup .modal-content {
padding: 15px !important;
}
}


