<?php 
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsMarketplace
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */
?>
<?php 
$helper = $this->helper(\Ced\CsMarketplace\Helper\Tool\Image::class);
$dataHelper = $this->helper(\Ced\CsMarketplace\Helper\Data::class);
$logo = $helper->getStoreConfig("ced_loginsignup/header/logo", $this->getCurrentStoreId()) ? "ced/csmarketplace/".$helper->getStoreConfig("ced_loginsignup/header/logo",$this->getCurrentStoreId()) : ''; 
$logoImage = $helper->getResizeImage($logo, 'logo', 335, 106); 
$footerContent = $helper->getStoreConfig("ced_csmarketplace/general/footer_content",$this->getCurrentStoreId());
$isfooterEnable = $helper->getStoreConfig("ced_csmarketplace/general/enable_footer",$this->getCurrentStoreId());
?>

<?php if ($dataHelper->newLoginPageEnabled()) : ?>

    <?php /*************  section_header ***************/ ?>
    <header class="main_header_vendor <?php if ($dataHelper->isSocialLoginEnabled()) : echo 'ced_social_login_header'; endif; ?>" id="head">
        <div class="section_header">
            <div class="container container_tab">
                <div class="row">
                    <div class="menu_logo">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <?php if ($logo) : ?>
                                <a href="<?php echo $this->getBaseUrl(); ?>" target="_blank" class="navbar-brand">
                                    <img src="<?php echo $logoImage ?>" alt="vendor panel logo">
                                </a>
                            <?php else: ?>
                                <a href="<?php echo $this->getBaseUrl(); ?>" target="_blank" class="navbar-brand">
                                    <img src="<?php echo $block->getViewFileUrl('images/demo.png'); ?>"
                                         alt="vendor panel logo" class="img_brand">
                                </a>
                            <?php endif; ?>

                            <?php if ($dataHelper->canShowHeaderInfo()) : ?>
                                <div class="navbar-nav" id="mysidenav">
                                    <ul class="navigation-custom-class">
                                        <?php if($helper->getStoreConfig('ced_csmarketplace/login_page/our_story_active')){ ?>
                                        <li class="nav-list-items">
                                            <a href="#story" class="nav-item nav-link nav_color"
                                               id="story-nav"><?php echo __('Our story'); ?></a>
                                        </li>
                                        <?php } if($helper->getStoreConfig('ced_csmarketplace/login_page/our_story_active')){ ?>
                                        <li class="nav-list-items">
                                            <a href="#steps" class="nav-item nav-link nav_color"
                                               id="steps-nav"><?php echo __('Steps to register'); ?></a>
                                        </li>
                                        <?php } if($helper->getStoreConfig('ced_csmarketplace/login_page/our_story_active')){ ?>
                                        <li class="nav-list-items">
                                            <a href="#features" class="nav-item nav-link nav_color"
                                               id="feature-nav"><?php echo __('Features'); ?></a>
                                        </li>
                                        <?php }?>
                                        <li class="nav-list-items">
                                            <a href="<?php echo $this->getUrl("*/*/register"); ?>" class="nav-item nav-link  nav_color"
                                               id="signup-nav"><?php echo __('Signup'); ?></a>
                                        </li>
                                    </ul>
                                </div>
                            <?php endif; ?>

                            <?php if ($dataHelper->canShowLogin()) : ?>
                                <?php if ($dataHelper->isSocialLoginEnabled()) : ?>
                                    <div class="nav-list-items">
                                        <a href="JavaScript:void(0);" class="nav-item nav-link  nav_color socail_login_link btn btn-primary"
                                           id="Signin-nav"><?php echo __('Signin'); ?></a>
                                    </div>
                                <?php else: ?>
                                    <div class="mobile_sign">
                                        <a href="JavaScript:void(0);" class="nav-item nav-link mobile_login_link btn btn-primary"
                                           id="Signin-nav"><?php echo __('Signin'); ?></a>
                                    </div>
                                    <div class="form-login-wrapper-main pull-right">
                                        <div class="form-login-wrapper">
                                            <?php echo $this->getLayout()->createBlock('Ced\CsMarketplace\Block\Vendor\Form\Login')->setTemplate('Ced_CsMarketplace::customer/form/new_login_form.phtml')->toHtml(); ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="overlay_vi"></div>
    <a href='#' class="scroll-icon">
        <i class="fa fa-arrow-up scroll-icon-top" aria-hidden="true"></i>
    </a>
    <?php /*************  End of section_header *****************/ ?>
<?php else : ?>
<div class="ced_vendor_header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-left wd_full">
					<div class="v_header_logo fbk">
						<?php if($logo):?>
							<a href="<?php echo $this->getBaseUrl(); ?>" target="_blank">
								<img src="<?php echo $logoImage ?>" alt="<?php echo __('vendor panel logo'); ?>">
							</a>
						<?php else:?>
							<a href="<?php echo $this->getBaseUrl(); ?>" target="_blank">
							<img src="<?php echo $block->getViewFileUrl('images/demo.png'); ?>" alt="<?php echo __('vendor panel logo'); ?>">
							</a>
						<?php endif;?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--  Script for header-->
<script type="text/javascript">
	 require(['jquery', 'jquery/ui'], function($){ 
 		jQuery(document).ready(function(){
		var hh= jQuery('.ced_vendor_header').height();
		jQuery('.page-wrapper').css("padding-top", hh+20);
	});
 });
</script>
    <?php /************* side_nav_responsive  *****************/ ?>
    <?php /************* End of side_nav_responsive  *****************/ ?>

<?php endif; ?>