<?php /** * CedCommerce * * NOTICE OF LICENSE * * This source file is subject to the End User License Agreement (EULA) * that is bundled with this package in the file LICENSE.txt. * It is also available through the world-wide-web at this URL: * https://cedcommerce.com/license-agreement.txt * * @category Ced * @package Ced_CsVendorAttribute * @author CedCommerce Core Team <connect@cedcommerce.com > * @copyright Copyright CEDCOMMERCE (https://cedcommerce.com/) * @license https://cedcommerce.com/license-agreement.txt */ /** @var $block \Magento\Eav\Block\Adminhtml\Attribute\Edit\Options\Options */ $stores = $block->getStoresSortedBySortOrder(); ?> <fieldset class="fieldset"><legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Manage Options (Values of Your Attribute)') ?></span></legend><div id="manage-options-panel" data-index="attribute_options_select_container"><table class="admin__control-table" data-index="attribute_options_select"><thead><tr id="attribute-options-table"><th class="col-draggable"></th><th class="col-default control-table-actions-th"><span><?php /* @escapeNotVerified */ echo __('Is Default') ?></span></th><?php foreach ($stores as $_store): ?> <th<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?> class="_required"<?php endif; ?>><span><?php /* @escapeNotVerified */ echo __($_store->getName()) ?></span></th><?php endforeach; $storetotal = count($stores) + 3; ?> <th class="col-delete">&nbsp;</th></tr></thead><tbody data-role="options-container" class="ignore-validate"></tbody><tfoot><tr><th colspan="<?php /* @escapeNotVerified */ echo $storetotal; ?>" class="validation"><input type="hidden" class="required-dropdown-attribute-entry" name="dropdown_attribute_validation"/></th></tr><tr><th colspan="<?php /* @escapeNotVerified */ echo $storetotal; ?>" class="col-actions-add"><?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()):?> <button id="add_new_option_button" data-action="add_new_row" title="<?php /* @escapeNotVerified */ echo __('Add Option'); ?>" type="button" class="action- scalable add"><span><?php /* @escapeNotVerified */ echo __('Add Option'); ?></span></button> <?php endif; ?></th></tr></tfoot></table><input type="hidden" id="option-count-check" value="" /></div><script id="row-template" type="text/x-magento-template">
         <tr>
            <td class="col-draggable">
                <?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()): ?>
                    <div data-role="draggable-handle" class="draggable-handle" title="<?php /* @escapeNotVerified */ echo __('Sort Option'); ?>"></div>
                <?php endif; ?> <input data-role="order" type="hidden" name="option[order][<%- data.id %>]"  value="<%- data.sort_order %>" <?php if ($block->getReadOnly() || $block->canManageOptionDefaultOnly()): ?> disabled="disabled"<?php endif; ?>/></td>
            <td class="col-default control-table-actions-cell">
                <input class="input-radio" type="<%- data.intype %>" name="default[]" value="<%- data.id %>" <%- data.checked %><?php if ($block->getReadOnly()):?>disabled="disabled"<?php endif;?>/></td>
            <?php foreach ($stores as $_store): ?> <td class="col-<%- data.id %>"><input name="option[value][<%- data.id %>][<?php /* @escapeNotVerified */ echo $_store->getId() ?>]" value="<%- data.store<?php /* @escapeNotVerified */ echo $_store->getId() ?> %>" class="input-text<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?> required-option<?php endif; ?>" type="text" <?php if ($block->getReadOnly() || $block->canManageOptionDefaultOnly()):?> disabled="disabled"<?php endif;?>/></td>
            <?php endforeach; ?> <td id="delete_button_container_<%- data.id %>" class="col-delete">
                <input type="hidden" class="delete-flag" name="option[delete][<%- data.id %>]" value="" />
                <?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()):?>
                    <button id="delete_button_<%- data.id %>" title="<?php /* @escapeNotVerified */ echo __('Delete') ?>" type="button"
                        class="action- scalable delete delete-option"
                        >
                        <span><?php /* @escapeNotVerified */ echo __('Delete') ?></span></button>
                <?php endif;?></td></tr></script><?php $values = []; foreach($block->getOptionValues() as $value) { $value = $value->getData(); $values[] = is_array($value) ? array_map("htmlspecialchars_decode", $value) : $value; } ?> <script type="text/x-magento-init">
        {
            "*": {
                "Ced_CsVendorAttribute/js/options": {
                    "attributesData": <?php /* @noEscape */ echo json_encode($values, JSON_HEX_QUOT); ?>,
                    "isSortable":  <?php echo (int)(!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()) ?>,
                    "isReadOnly": <?php echo (int)$block->getReadOnly(); ?>
                }
            }
        }</script></fieldset>