body._has-modal {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.modal-popup {
  bottom: 0;
  left: 0;
  min-width: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
}
.modal-popup._show {
  visibility: visible;
}
.modal-popup._show .modal-inner-wrap {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  top: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
.modal-popup .modal-inner-wrap {
  margin: 5rem auto;
  width: 75%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  transition-duration: .2s;
  -webkit-transition-property: -webkit-transform, visibility;
  transition-property: transform, visibility;
  transition-timing-function: ease;
}
.modal-popup .action-close {
  background-image: none;
  background: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 20px;
  cursor: pointer;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
}
.modal-popup .action-close:focus,
.modal-popup .action-close:active,
.modal-popup .action-close:hover {
  background: none;
  border: none;
}
.modal-popup .action-close.disabled,
.modal-popup .action-close[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.modal-popup .action-close > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.modal-popup .action-close:before {
  -webkit-font-smoothing: antialiased;
  line-height: 14px;
  color: #8f8f8f;
  content: 'x';
  font-size: 20px;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.modal-popup .action-close:active:before {
  color: inherit;
}
.modal-popup .action-close:hover:before {
  color: #1a1a1a;
}
.modals-overlay {
  z-index: 899;
  background-color: rgba(51, 51, 51, 0.55);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.mgs-popup.modal-popup .modal-inner-wrap {
  width: auto !important;
  margin: 0 !important;
  background: none !important;
  box-shadow: none !important;
  transform: translateY(-50%) !important;
  top: 50% !important;
}
.mgs-popup.modal-popup .modal-content {
  overflow-y: visible !important;
  padding: 0;
}
.mgs-popup.modal-popup .popup-content {
  padding: 0 30px;
  text-align: center;
}
.mgs-popup.modal-popup .modal-header {
  display: none !important;
}
.mgs-popup.modal-popup #mgs-popup {
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  position: relative;
}
.mgs-popup.modal-popup #mgs-popup.enable-scroll {
  overflow-y: auto !important;
}
.mgs-popup.modal-popup .countdown {
  margin-top: 30px;
}
.mgs-popup.modal-popup .countdown .timer {
  max-width: 400px;
  margin-left: -5px;
  margin: 0 auto;
}
.mgs-popup.modal-popup .countdown .timer > div {
  width: calc((100% - 55px)/ 4);
  background: #000;
  display: inline-block;
  margin: 0 5px;
  padding: 7px 0 12px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.mgs-popup.modal-popup .countdown .timer > div > strong {
  display: block;
  color: #fff;
  font-size: 24px;
}
.mgs-popup.modal-popup .checkbox {
  margin-top: 20px;
}
