<?php $helper = $this->helper(Sparsh\WhatsAppChat\Helper\Data::class);?>

<?php if ($helper->getWAStatus()) : ?>
<div id="whatsappchat">
    <a href="https://web.whatsapp.com/send?phone=<?= /* @noEscape */ $helper->getWAPhone(); ?>&amp;text=<?= /* @noEscape */ $helper->getWAMessage(); ?>" target="_blank" class="btn-web <?= /* @noEscape */ $helper->getWAPosition() ?>">
        <img src="<?= /* @noEscape */ $helper->getWAIconUrl(); ?>" alt="WhatsApp Chat" style="width: 50px;">
    </a>

    <a href="https://wa.me/<?= /* @noEscape */ $helper->getWAPhone(); ?>?text=<?= /* @noEscape */ $helper->getWAMessage(); ?>" target="_blank" class="btn-mobile <?= /* @noEscape */ $helper->getWAPosition() ?>">
        <img src="<?= /* @noEscape */ $helper->getWAIconUrl(); ?>" alt="WhatsApp Chat" style="width: 50px;">
    </a>
</div>

<style type="text/css">
    @media(max-width: 767px) {
        #whatsappchat .btn-web{
            display: none;
        }
    }
    @media(min-width: 768px) {
        #whatsappchat .btn-mobile{
            display: none;
        }
    }
</style>
<?php endif; ?>