<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 

$baseUrl = $block->getBaseUrl();



$mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')

                    ->getStore()

                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$imageUrl = $mediaUrl.'catalog/product';

$productCollectionFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');

$collection = $productCollectionFactory->create();

$collection->addAttributeToSelect('*')->addAttributeToFilter('special_price', ['neq' => '']);



$productData = [];

$productData1 = [];

foreach ($collection as $productItem) {

	$entity_id = $productItem->getEntityId();

	$productName = $productItem->getName();

	$productThumbNail = $productItem->getThumbnail();

	$productImage = $productItem->getImage();

	$productUrlKey = $productItem->getUrlKey();

	$productSale = $productItem->getSale();

	$productSpecialToDate = $productItem->getSpecialToDate();

	$specialPrice = $productItem->getSpecialPrice();

	$price = $productItem->getPrice();

	$productData['entity_id'] = $entity_id;

	$productData['name'] = $productName;

	$productData['thumbnail'] = $productThumbNail;

	$productData['image'] = $productImage;

	$productData['url'] = $productUrlKey;

	$productData['sale'] = $productSale;

	$productData['productSpecialToDate'] = $productSpecialToDate;

	$productData['specialPrice'] = $specialPrice;

	$productData['price'] = $price;


	$curdate = strtotime(date("Y-m-d"));
	$mydate = strtotime($productSpecialToDate);
	if ($mydate > $curdate) {
		array_push($productData1, $productData);
	}





	// $productData1Json = json_encode($productData1);



	// echo "<pre>";

	// print_r($productData1);

}



	// if(!array_key_exists(2, $productData1)){

	// 	echo 'not present';

	// }else{

	// 	echo "string";

	// }

	// die;

// echo "<pre>";

	// print_r($productData1);
?>

<!-- <div class="main-div-count row">

	<div class="col-md-8">

		<h2 id="demo"></h2>

	</div>

	<div class="col-md-4">

		<h2>All Product show here</h2>

	</div>

</div> -->




<?php if (!empty($productData1) && count($productData1)>=4) {
	# code...
?>


<div class="countDown_main">

	<div class="container">

		<div class="grid12-7">

			<div class="count_data">

				<div class="CD_dataLeft">

					<h2><?php echo __('Deal of the Day'); ?></h2>

					<div id="CD_itemName" class="CD_itemName"><?php echo __('Maternity Item'); ?></div>

					<?php for ($i=0; $i < 4; $i++) { 

						if ($i==0) {

							$classActive = 'active';						

						}else{

							$classActive = '';

						}
					 ?>

					<div id="content-product-deal-<?php echo  $productData1[$i]['entity_id']?>" class="content-product-deal <?php echo $classActive ?>">

						<div class="main-count-div">

							<div id="CD_price" class="CD_price">

								<a href="<?php echo $baseUrl.$productData1[$i]['url'].'.html' ?>"> <span class="CD_pricers CD_pricersSelected">$ <?php echo $productData1[$i]['specialPrice'] ?></span></a>

								<span class="CD_pricers">$<?php echo $productData1[$i]['price'] ?></span>

							</div>

							<div id="CD_time" class="CD_time">

								<ul>

									<li id="CD_Days"><span id="days<?php echo $i ?>"></span> DAYS</li>

									<li id="CD_Hours"><span id="hours<?php echo $i ?>"></span> HOURS</li>

									<li id="CD_Mins"><span id="mins<?php echo $i ?>"></span> MINS</li>

									<li id="CD_Sec"><span id="sec<?php echo $i ?>"></span> SEC</li>

								</ul>

							</div>

						</div>

						<div class="count-image-hold">

							<img src="<?php echo $imageUrl.$productData1[$i]['image'] ?>">

						</div>



					</div>

					<?php } ?>

				</div>

				<?php if(!array_key_exists(0, $productData1)){ 

					$imageProduct = $imageUrl.$productData1[0]['image'];

					?>

				<div id="count_dataRight1" class="count_dataRight active">

					<a href="#!"><img src="<?php echo $imageProduct ?>"></a>

				</div>

				<?php } ?>

				<?php if(!array_key_exists(1, $productData1)){ 

					$imageProduct = $imageUrl.$productData1[1]['image'];

					?>

				<div id="count_dataRight2" class="count_dataRight">

					<a href="#!"><img src="<?php echo $imageProduct ?>">></a>

				</div>

				<?php } ?>

				<?php if(!array_key_exists(2, $productData1)){ 

					$imageProduct = $imageUrl.$productData1[2]['image'];

					?>

				<div id="count_dataRight3" class="count_dataRight">

					<a href="#!"><img src="<?php echo $imageProduct ?>">></a>

				</div>

				<?php } ?>

				<?php if(!array_key_exists(3, $productData1)){ 

					$imageProduct = $imageUrl.$productData1[3]['image'];

					?>

				<div id="count_dataRight4" class="count_dataRight">

					<a href="#!"><img src="<?php echo $imageProduct ?>">></a>

				</div>

				<?php } ?>

			</div>

		</div>



		<div class="grid12-5">

			<div id="CD_more" class="CD_more">

				<ul>

					<?php for ($i=0; $i < 4 ; $i++) { 

						$imageProduct = $imageUrl.$productData1[$i]['image'];

						$productUrl = $baseUrl.$productData1[$i]['url'].'.html';

						$productId = $productData1[$i]['entity_id'];

					?>

					<li class="CD_moreItems"><a href="#!" id="<?php echo $productId ?>"><img src="<?php echo $imageProduct ?>"></a></li>

					<?php } ?>

					

				</ul>

			</div>

		</div>

	</div>

</div>



<script type="text/javascript">

require(["jquery"], function($) {

	var productDataJson  =  <?php echo json_encode($productData1); ?>;



	 		var saleEndDate = productDataJson[0]['productSpecialToDate'];
	 	    var saleEndDate1 = saleEndDate.replace(/-/g, "/");
			var countDownDate = new Date(saleEndDate1).getTime();

			// timer for 1 sec start

		    var x = setInterval(function() {

	        // Get today's date and time

		        var now = new Date().getTime();

		        var distance = countDownDate - now;

		        var days = Math.floor(distance / (1000 * 60 * 60 * 24));

		        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

		        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

		        var seconds = Math.floor((distance % (1000 * 60)) / 1000);



		        document.getElementById("days0").innerHTML = days;

		        document.getElementById("hours0").innerHTML = hours;

		        document.getElementById("mins0").innerHTML = minutes;

		        document.getElementById("sec0").innerHTML = seconds;

		        if (distance < 0) {

		            clearInterval(x);

		            document.getElementById("demo").innerHTML = "EXPIRED";

		        }

		    }, 1000);





		// counter second





	 		var saleEndDate = productDataJson[1]['productSpecialToDate'];
	 		var saleEndDate1 = saleEndDate.replace(/-/g, "/");
			var countDownDate1 = new Date(saleEndDate1).getTime();

			// timer for 1 sec start

		    var x1 = setInterval(function() {

	        // Get today's date and time

		        var now1 = new Date().getTime();

		        var distance = countDownDate1 - now1;

		        var days1 = Math.floor(distance / (1000 * 60 * 60 * 24));

		        var hours1 = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

		        var minutes1 = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

		        var seconds1 = Math.floor((distance % (1000 * 60)) / 1000);

		        document.getElementById("days1").innerHTML = days1;

		        document.getElementById("hours1").innerHTML = hours1;

		        document.getElementById("mins1").innerHTML = minutes1;

		        document.getElementById("sec1").innerHTML = seconds1;

		        if (distance < 0) {

		            clearInterval(x1);

		            document.getElementById("demo").innerHTML = "EXPIRED";

		        }

		    }, 1000);





		    // counter third





	 		var saleEndDate = productDataJson[2]['productSpecialToDate'];
	 		var saleEndDate1 = saleEndDate.replace(/-/g, "/");
			var countDownDate2 = new Date(saleEndDate1).getTime();

			// timer for 1 sec start

		    var x2 = setInterval(function() {

	        // Get today's date and time

		        var now2 = new Date().getTime();

		        var distance = countDownDate2 - now2;

		        var days2 = Math.floor(distance / (1000 * 60 * 60 * 24));

		        var hours2 = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

		        var minutes2 = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

		        var seconds2 = Math.floor((distance % (1000 * 60)) / 1000);

		        document.getElementById("days2").innerHTML = days2;

		        document.getElementById("hours2").innerHTML = hours2;

		        document.getElementById("mins2").innerHTML = minutes2;

		        document.getElementById("sec2").innerHTML = seconds2;

		        if (distance < 0) {

		            clearInterval(x2);

		            document.getElementById("demo").innerHTML = "EXPIRED";

		        }

		    }, 1000);





		     // counter forth





	 		var saleEndDate = productDataJson[3]['productSpecialToDate'];
	 		var saleEndDate1 = saleEndDate.replace(/-/g, "/");
			var countDownDate3 = new Date(saleEndDate1).getTime();

			// timer for 1 sec start

		    var x3 = setInterval(function() {

	        // Get today's date and time

		        var now3 = new Date().getTime();

		        var distance = countDownDate3 - now3;

		        var days3 = Math.floor(distance / (1000 * 60 * 60 * 24));

		        var hours3 = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

		        var minutes3 = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

		        var seconds3 = Math.floor((distance % (1000 * 60)) / 1000);

		        document.getElementById("days3").innerHTML = days3;

		        document.getElementById("hours3").innerHTML = hours3;

		        document.getElementById("mins3").innerHTML = minutes3;

		        document.getElementById("sec3").innerHTML = seconds3;

		        if (distance < 0) {

		            clearInterval(x3);

		            document.getElementById("demo").innerHTML = "EXPIRED";

		        }

		    }, 1000);



		     $(".CD_moreItems a").click(function() {

			 	var id = $(this).attr('id');

			 	$('.content-product-deal').removeClass('active');

				$('#content-product-deal-'+id).addClass('active'); 	 	 

			 });



});



</script>





<style type="text/css">

	.content-product-deal{

		display: none;

	}

	.content-product-deal.active{

		display: block;

	}

	.count_dataRight{

		display: none;

	}

	.count_dataRight.active{

		display: block;

	}

</style>


<?php } ?>