<?php
/**
 * @author Solar Team
 * @copyright Copyright (c) 2019 Solar (https://www.solar.com)
 * @package Solar_Customform
 */
?>
<?php
/** @var Solar\Customform\Block\Init $block */
$formId = $block->getFormId();
$usePopup = $block->isPopupUsed();
?>
<?php if ($usePopup): ?>
<div class="amform-parent">
    <div class="amform-popup">
<?php endif; ?>
<form class="rendered-form amform-form <?php if ($usePopup) echo 'amform-content' ?> <?= $block->getAdditionalClasses() ?>"
      id="amform-form-<?= $formId;?>"
      action="<?=$block->getFormAction();?>"
      data-mage-init='{"validation": {"ignore" : ".amcform-hidden-field, .amcform-hidden-page, :hidden:not(.amform-rating)"}}'
      enctype="multipart/form-data" method="post">

    <input name="form_key" type="hidden" value="<?= $block->escapeHtml($block->getFormKey()) ?>" />
    <input name="form_id" type="hidden" value="<?= $formId;?>" />
    <div class="amform-form-fieldset fieldset">
        <div class="insert-container fields"></div>
        <?php if ($block->isGDPREnabled()) : ?>
            <div class="field required amform-hide-formload control amcform-gdpr" data-amcform-js="gdpr">
                <label class="label" for="amcustom-form-gdpr-<?= $formId; ?>">
                    <input type="checkbox"
                           name="gdpr"
                           data-id="amcustom-form-gdpr-<?= $formId; ?>"
                           id="amcustom-form-gdpr-<?= $formId; ?>"
                           title="<?= __('GDPR'); ?>"
                           data-validate="{required:true}"
                           value="1"
                           disabled>
                    <?= $block->getGDPRText(); ?>
                </label>
            </div>
        <?php endif; ?>
    </div>
    <?php if ($usePopup): ?>
        <div class="amform-popup-close">
            <span class="amform-close">&times;</span>
        </div>
    <?php endif; ?>
</form>

<?php if ($usePopup): ?>
    </div>
        <div data-amform-show="<?= $formId ?>" class="amform-show">
            <button class="action primary"><?= $block->getTriggerPopup() ?></button>
        </div>
    </div>
<?php endif; ?>

<script type="text/javascript">
    <?php if ($block->isUseGoogleMap()) : ?>
    require([
        'https://maps.googleapis.com/maps/api/js?libraries=places&key=<?= $block->getGoogleKey() ?>'
    ], function () {
    });
    <?php endif; ?>
    require([
        'jquery',
        'jquery/ui',
        'Solar_Customform/js/form-render',
        'Solar_Customform/js/am-google-map',
        'Solar_Customform/js/form-init'
    ], function ($) {
        var renderedFormContainer = $('#amform-form-<?= $formId;?> .insert-container'),
            renderedForm;

        renderedFormContainer.formRender(<?= $formId ?>, <?= $block->getFormDataJson()?>);
        renderedForm = $('[data-amcform-js="multi-page"]');

        if (renderedForm.length) {
            renderedForm.amFormInit();
        }
    });
</script>
