<?php
$params = $this->getRequest()->getParams();
$helper = $this->helper('MGS\Brand\Helper\Data');
$collection = $block->getCollection()->getData();
?>

<div class="brand-content-all row">
    <?  foreach ($collection as $data) {  ?>
   
        <div class="col-md-3">
            <p><a href="#"><? echo $data['name']; ?></a></p>
        </div>
    
    
    <? } ?>
</div>

