.ccavenuepay_frontend_logo {
  height: 110px;
  background: url("https://www.ccavenue.com/images_shoppingcart/ccavenue_pay_options.gif");
  background-repeat: no-repeat;
  width: 440px;
  margin-top: 10px;
}
#iframe_wrapper {
	display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: 9999;
}
#iframe_wrapper iframe {
	display:none;
	width: 100%;
	height: 100%;
	position: absolute;
	border: none;
}