/* prk jnjnk*/
.ced_vendor_header {
    border-top: 13px solid #fdefee !important;
}
.ced_vendor_before_wrap {
    margin-top: 100px;
}
.csmarketplace-account-login,
.csmarketplace-account-login .page-wrapper,
.csmarketplace-account-approval .page-wrapper,
.csmarketplace-account-forgotpassword .page-wrapper,
.csmarketplace-account-approval {
    background-color: #fff !important;
}
.panel {
    background-color: transparent;
}
.section_footer .footer_para {
    color: #000;
}

.section_footer .footer_list_right a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    color: #000;
}
.section_footer .footer_list_right a:hover i {
    color: #fff;
}
.ced_vendor_header .v_header_logo img {
    width: 260px !important;
}
.ced_vendor_header .wd_full {
    width: 100% !important;
    text-align: center;
}


/* DASHBOARD */
.page-products.page-layout-vendorpanel nav.navbar-default.navbar-static-top {
    background: none;
}
.page-wrapper .panel-default .panel-heading {
    font-size: 16px;
}

.new_test_class .rtl-active:nth-child(odd) .x_panel {
    background-color: #000;
}

.new_test_class .rtl-active:nth-child(even) .x_panel {
    background-color: #fdefee;
    color: #000;
}

.new_test_class .rtl-active .x_panel {
    border: 1px solid #000;
}

.new_test_class .rtl-active:nth-child(even) .x_panel a {
    color: #000 !important;
}
.navbar-static-top .navbar-top-links > li .profile-vendor img {
    border:1px solid #000;
}




/* LIGHT PINK BACKGROUND */
.ced_vendor_before_wrap,
.ced_vendor_footer,
.section_footer,
.ced-vendor-sidebar,
.ced-vendor-sidebar-nav #side-menu.side-menu a {
    background-color: #fefafa !important;
}

/* LIGHT BROWN BACKGROUND */
.section_footer .footer_list_right a i,
.ced-vendor-sidebar-nav #side-menu.side-menu li .nav-second-level > li > a,
.nav>li.active ul.nav-second-level.in > li > a:hover,
.page-wrapper .columns .panel-default .panel-heading,
.data-grid th,
.page-wrapper .admin__collapsible-block-wrapper .admin__collapsible-title,
.page-wrapper .admin__control-table th,
.page-products.page-layout-vendorpanel nav.navbar-default.navbar-static-top,
.csvendorproductattribute-set-index nav.navbar-default.navbar-static-top  {
    background-color: #ceb2b1 !important;
}

/* DARK BROWN BACKGROUND */
.page-wrapper .ced_vendor_before_wrap .button:hover,
.page-wrapper .page-main .btn-primary:hover,
.page-wrapper .admin__actions-switch-checkbox:checked + .admin__actions-switch-label::after,
.page-wrapper .page-main button.primary,
.page-wrapper .page-main button.primary#add,
.page-actions .page-actions-buttons > button.primary,
.page-actions .page-actions-buttons > button.primary .add-set,
.page-wrapper .page-main .btn-info,
.page-wrapper .page-main .btn-warning,
.page-wrapper .page-main .btn-success,
.page-wrapper .page-main .buttons_scb button.btn-primary,
.csvendorproductattribute-set-index .page-wrapper .page-main .page-actions-buttons > button.primary  {
    background-color:#7f3c37 !important;
}

/* BLACK BACKGROUND */
.ced_vendor_before_wrap .button,
.page-wrapper .page-main .btn-primary,
.section_footer .footer_list_right a:hover i,
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus,
#side-menu.nav > li > a:hover, #side-menu.nav > li > a:focus,
.ced-vendor-sidebar-nav .side-menu a.active:hover,
.navbar-static-top .navbar-header .navbar-toggle span,
.ced-vendor-sidebar-nav .side-menu li .nav-second-level li a.active:hover, 
.ced-vendor-sidebar-nav #side-menu.side-menu li .nav.nav-second-level > li > a:hover, .nav.nav-third-level > li > a:hover,
.slide .side-menu li .nav-second-level li a, .ced-vendor-sidebar-nav .side-menu li .nav-second-level li a.active, 
.ced-vendor-sidebar-nav #side-menu.side-menu li .nav-second-level > li > a, .nav-third-level > li > a,
.bellow-list-wrapper li a,
.page-wrapper .page-main .btn-primary:hover, .btn-info:hover, .btn-warning:hover, .btn-success:hover, .btn-danger:hover, .btn-success:hover,
.ced-chart-filter li.active a,
.navbar-top-links .dropdown-menu li.top-lis a:hover,
.dropdown-tasks .top-lis .progress .progress-bar,
.ced-vendor-sidebar-nav #side-menu.side-menu a.active,
.ced-vendor-sidebar-nav #side-menu.side-menu li.active > a  {
    background-color: #000 !important;
}

/* COLOR BLACK */
.ced_vendor_footer .ced_vendor_footer_links li a,
.ced_vendor_before_wrap .f-right.forgotpass,
.vendor_exitance a,
.navbar-static-top .navbar-top-links > li > a > i,
.navbar-top-links .fa.fa-external-link.fw,
.ced-vendor-sidebar-nav .side-menu a.active span,
.ced-vendor-sidebar-nav .side-menu a.active i,
.page-wrapper .panel-default .panel-heading,
.admin__collapsible-block-wrapper .admin__collapsible-title,
.vendor_edit a:hover,
.dropdown-menu .top-lis a {
    color: #000 !important;
}

/* COLOR DARK BROWN */
.ced_vendor_footer .ced_vendor_footer_links li a:hover,
.ced_vendor_before_wrap .f-right.forgotpass:hover,
.vendor_exitance a:hover, .vendor_edit a,
.dropdown-tasks .top-lis .edit-profile-vendor a:hover {
    color: #7f3c37 !important;
}

/* BORDER ZERO */
.button, button {
    border: 0 !important;
}

/* WHITE BACKGROUND */
.navbar-static-top .navbar-header .navbar-toggle:hover,
#page-wrapper {
    background-color: #fff !important;
}

/* COLOR WHITE */
.slide .side-menu li .nav-second-level li a,
.ced-vendor-sidebar-nav .side-menu li .nav-second-level li a.active,
.ced-vendor-sidebar-nav #side-menu.side-menu li .nav-second-level > li > a,
.ced-vendor-sidebar-nav #side-menu.side-menu li .nav-third-level > li > a,
.ced-vendor-sidebar-nav .side-menu a.active:focus i,
.nav>li.active ul.nav-second-level.in > li > a.active span,
.nav>li.active ul.nav-second-level.in > li > a.active i,
.navbar-top-links .dropdown-menu li.top-lis a:hover,
.ced-vendor-sidebar-nav #side-menu.side-menu a.active span,
.ced-vendor-sidebar-nav #side-menu.side-menu a.active i,
.ced-vendor-sidebar-nav #side-menu.side-menu li.active > a span,
.ced-vendor-sidebar-nav #side-menu.side-menu li.active > a i {
    color: #fff !important;
}


/* PUT AT BOTTOM */
.bellow-list-wrapper li a,
button.primary,
.btn-info {
    border: 0 !important;
}
.ced-vendor-sidebar-nav #side-menu.side-menu li .nav-second-level li a.active,
.ced-vendor-sidebar-nav #side-menu.side-menu li .nav-second-level > li > a.active {
    background-color:#7f3c37 !important;
}
.ced-vendor-sidebar-nav .side-menu > li.active > a {
    background-color: #000;
}
.ced-vendor-sidebar-nav .side-menu > li.active > a span,
.ced-vendor-sidebar-nav .side-menu > li.active > a i {
    color:#fff;
}
.ced-vendor-sidebar-nav #side-menu.side-menu li .nav.nav-second-level > li > a:hover {
    background-color: #7f3c37 !important;
}