<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsMarketplace
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */
 -->
<!--@vars {} @-->
<!--@subject {{trans "Debug Report"}} @-->

{{template config_path="design/email/header_template"}}
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top" colspan="2">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">{{trans "Dear"}} {{var developer_name}},</h1>
                        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Bug report.</p>
                    </td>
                </tr>
                <tr>
                <td valign="top" colspan="2">
				
				{{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' template='Ced_CsMarketplace::vdebug/mails/info.phtml' vdebugpage=$vdebugpage}}
                </td>
                </tr>
				<tr>
                    <td valign="left">
                       {{trans "Name"}}
                    </td>
					<td valign="left">
                       {{var name}}
                    </td>
                </tr>
				<tr>
                    <td valign="left">
                       {{trans "Email"}}
                    </td>
					<td valign="left">
                       {{var email}}
                    </td>
                </tr>
				<tr>
                    <td valign="left">
                       {{trans "Telephone"}}
                    </td>
					<td valign="left">
                       {{var telephone}}
                    </td>
                </tr>
				<tr>
                    <td valign="left">
                       {{trans "Comment"}}
                    </td>
					<td >
                       {{var comment}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">{{trans "Thank you"}}</p></center></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>
