<?php 

/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsMultiShipping
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */

?>

<div class="row">
	<div class="col-md-12" style="margin-top:10px;">
		<div class="panel panel-default">
			<div class="panel-heading uptransform" style="font-weight:bold;padding:4px 15px;">
				<div class="col-md-6 panel_product_heading" style="line-height:31px;font-size:17px;padding-left:0;">
				<?php echo __('Shipping')." ".__('Settings') ?>			
				</div>
				<div class="buttons-set col-md-6 buttons_scb" style="text-align:right;padding-right:0;">				
					<button class="button btn btn-success uptransform product-button" title="Save" type="submit" onClick="document.getElementById('form-validate').submit();" id="save_butn" style="float: none;">
						<span><span><?php echo __('Save') ?></span></span>
					</button>
				</div>
			</div>
			<br/>
			<br/>
			<div class="panel-body">
				<?php  echo $this->getFormHtml(); ?>
				<div class="buttons-set">
					<p class="required"><?php echo __('* Required Fields') ?></p>
					<p class="back-link"><a href="<?php  echo $this->getBackUrl() ?>"><small>&laquo; </small><?php echo __('Back') ?></a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	 require([
    'jquery',
    'jquery/ui',
	'regionUpdater'
   ], function($){
		
   });
</script>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {}
        },
        "#address-country_id": {
            "regionUpdater": {
                "optionalRegionAllowed": "true",
                "regionListId": "#address-region_id",
                "regionInputId": "#address-region",
                "postcodeId": "#address-postcode",
                "form": "#form-validate",
                "regionJson": <?php  echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php  echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<script type="text/javascript">
require([
         "jquery",
         "jquery/ui"
     ], function($){
			jQuery( "h2" ).addClass( "ced_shipping" );
});
</script>

