<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsMarketplace
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */
-->
<!--@vars {} @-->
<!--@subject {{trans "Account Confirmation"}} @-->

{{template config_path="design/email/header_template"}}
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                   
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">{{trans "Dear"}} {{trans "%vendor_name," vendor_name=$vendor.name }}</h1>
                             <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{trans "Welcome to"}} {{trans "%store_frontname," store_frontname=$store.getFrontendName() }}. {{trans "To log in please"}} <a href="{{trans "%store_url," store_url=$this.getUrl($store,'csmarketplace/account/login/') }}" style="color:#1E7EC8;">{{trans "click here"}}</a> {{trans "and then enter your e-mail(or vendor id) address and password."}}</p>
                          <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">{{trans "When you log in to your account, you will be able to do the following:"}}</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; {{trans "Manage your products"}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; {{trans "Manage your orders,"}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; {{trans "View Sales Reports"}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; {{trans "Make changes to your account information,payment settings"}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; {{trans "Change your password"}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; {{trans "Manage your credit and transactions."}}</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">{{trans "If you have any questions about your account or any other matter, please feel free to contact us at"}} <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> {{trans "or by phone at"}} {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">{{trans "Thank you again,"}} <strong>{{trans "%store_frontname," store_frontname=$store.getFrontendName() }}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>