<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsMarketplace
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */
 -->
<!--@vars {} @-->
<!--@subject {{trans "Shop Enabled"}} @-->

{{template config_path="design/email/header_template"}}
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
          
                    <!-- [ middle starts here] -->
                   <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">{{trans "Dear"}} {{trans "%vendor_name," vendor_name=$vendor.name }}</h1>
                        	 <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">
                        		{{trans "Your Shop Page has been enabled."}}
                        	</p>
                        	<p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">
								{{trans "Now you have full access to Shop Page."}}<br />
                        	</p>
                            <p style="font-size:12px; line-height:16px; margin:0;">{{trans "If you have any questions about your account or any other matter, please feel free to contact us at"}} <a href="mailto:{{trans "%store_email," store_email=$store_email }}" style="color:#1E7EC8;">{{trans "%store_email," store_email=$store_email }}</a> {{trans "or by phone at"}} {{trans "%store_phone," store_phone=$store_phone }}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">{{trans "Thank you again,"}} <strong>{{trans "%store_frontname," store_frontname=$store.getFrontendName() }}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>