@import url("{{base_url_path}}frontend/Ced/ced_2k18/{{locale}}/css/email-fonts.css");
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}
body {
  color: #333333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 14px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
abbr[title] {
  border-bottom: 1px dotted #d1d1d1;
  cursor: help;
}
b,
strong {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
mark {
  background: #f0f0f0;
  color: #000000;
}
small,
.small {
  font-size: 12px;
}
hr {
  border: 0;
  border-top: 1px solid #d1d1d1;
  margin-bottom: 20px;
  margin-top: 20px;
}
sub,
sup {
  font-size: 71.42857143000001%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
dfn {
  font-style: italic;
}
h1 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 20px;
}
h2 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 20px;
}
h3 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}
h4 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h5 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h6 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  color: #333333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
a,
.alink {
  color: #1979c3;
  text-decoration: none;
}
a:visited,
.alink:visited {
  color: #1979c3;
  text-decoration: none;
}
a:hover,
.alink:hover {
  color: #006bb4;
  text-decoration: underline;
}
a:active,
.alink:active {
  color: #ff5501;
  text-decoration: underline;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 25px;
}
ul > li,
ol > li {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
dl {
  margin-bottom: 20px;
  margin-top: 0;
}
dt {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 0;
}
dd {
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 0;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
code {
  background: #f0f0f0;
  color: #111111;
  padding: 2px 4px;
  font-size: 12px;
  white-space: nowrap;
}
kbd {
  background: #f0f0f0;
  color: #111111;
  padding: 2px 4px;
  font-size: 12px;
}
pre {
  background: #f0f0f0;
  border: 1px solid #d1d1d1;
  color: #111111;
  line-height: 1.42857143;
  margin: 0 0 10px;
  padding: 10px;
  font-size: 12px;
  display: block;
  word-wrap: break-word;
}
pre code {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  padding: 0;
  white-space: pre-wrap;
}
blockquote {
  border-left: 0 solid #d1d1d1;
  margin: 0 0 20px 40px;
  padding: 0;
  color: #333333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 14px;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  color: #333333;
  line-height: 1.42857143;
  font-size: 10px;
  display: block;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
blockquote cite {
  font-style: normal;
}
blockquote:before,
blockquote:after {
  content: '';
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
cite {
  font-style: normal;
}
.shipment-track th {
  text-align: left;
}
.shipment-track > tbody > tr > th,
.shipment-track > tfoot > tr > th,
.shipment-track > tbody > tr > td,
.shipment-track > tfoot > tr > td {
  vertical-align: top;
}
.shipment-track > thead > tr > th,
.shipment-track > thead > tr > td {
  vertical-align: bottom;
}
.shipment-track > thead > tr > th,
.shipment-track > tbody > tr > th,
.shipment-track > tfoot > tr > th,
.shipment-track > thead > tr > td,
.shipment-track > tbody > tr > td,
.shipment-track > tfoot > tr > td {
  padding: 0 10px;
}
.email-items th {
  text-align: left;
}
.email-items > tbody > tr > th,
.email-items > tfoot > tr > th,
.email-items > tbody > tr > td,
.email-items > tfoot > tr > td {
  vertical-align: top;
}
.email-items > thead > tr > th,
.email-items > thead > tr > td {
  vertical-align: bottom;
}
.email-items > thead > tr > th,
.email-items > tbody > tr > th,
.email-items > tfoot > tr > th,
.email-items > thead > tr > td,
.email-items > tbody > tr > td,
.email-items > tfoot > tr > td {
  padding: 0 10px;
}
@media only screen and (max-width: 639px) {
  html,
  body {
    background-color: #ffffff;
    width: 100% !important;
  }
  .main {
    max-width: 100% !important;
    min-width: 240px;
    width: auto !important;
  }
  .rma-items td,
  .rma-items th {
    font-size: 12px !important;
    padding: 5px !important;
  }
}
@media only screen and (max-width: 479px) {
  .email-summary h1 {
    font-size: 24px !important;
  }
  .order-details .address-details,
  .order-details .method-info {
    display: block;
    padding: 10px 0 !important;
    width: auto !important;
  }
  .order-details .address-details h3,
  .order-details .method-info h3 {
    margin-bottom: 5px !important;
    margin-top: 0 !important;
  }
  .button .inner-wrapper {
    width: 100% !important;
  }
  .button .inner-wrapper td a {
    font-size: 16px;
  }
}
body,
table,
td,
a {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
}
table,
td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}
a:visited {
  color: #1979c3 !important;
  text-decoration: none !important;
}
a:hover {
  color: #006bb4 !important;
  text-decoration: underline !important;
}
a:active {
  color: #ff5501 !important;
  text-decoration: underline !important;
}
.no-link a,
.address-details a {
  color: #333333 !important;
  cursor: default !important;
  text-decoration: none !important;
}
.button .inner-wrapper td:hover {
  background-color: #006bb4 !important;
}
.button .inner-wrapper a:active,
.button .inner-wrapper td:active {
  background-color: #006bb4 !important;
}
.button a:active,
.button a:hover,
.button a:visited {
  border: 1px solid #006bb4;
  color: #ffffff !important;
  text-decoration: none !important;
}
.email-items {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
