/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
*/
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_ReCaptcha
 * @copyright  Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
.login-container .g-recaptcha,
.form-login .g-recaptcha {
  margin-bottom: 10px !important;
}
.required-captcha.checkbox {
  position: absolute;
  display: block;
  visibility: visible;
  overflow: hidden;
  opacity: 0;
  width: 1px;
  height: 1px;
}
.review-form .field-recaptcha {
  margin-bottom: 10px;
}
.form.send.friend .g-recaptcha {
  margin-top: 40px;
}
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
* Amazon Pay variables
**/
@media all and (max-width: 768px) {
  .amazon-button-container {
    width: 100%;
  }
}
.amazon-logout-widget {
  display: none;
}
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
@media all and (max-width: 768px) {
  .amazon-minicart-container .amazon-button-container {
    width: auto;
  }
}
.klarna-payments-method-cell {
  display: table-cell;
  vertical-align: middle;
}
label.klarna-payments-method-cell > span {
  padding-left: 5px;
}
span.klarna-payments-method-cell > img {
  display: block;
}
/**
 * Mageplaza
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Mageplaza.com license that is
 * available through the world-wide-web at this URL:
 * https://www.mageplaza.com/LICENSE.txt
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade this extension to newer
 * version in the future.
 *
 * @category    Mageplaza
 * @package     Mageplaza_BetterPopup
 * @copyright   Copyright (c) Mageplaza (https://www.mageplaza.com/)
 * @license     https://www.mageplaza.com/LICENSE.txt
 */
#mageplaza-betterpopup-block {
  position: relative;
}
.mp-better-popup-click-trigger {
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.click-trigger {
  background-color: #31B0D5;
  color: white;
  padding: 10px 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #46b8da;
}
.click-trigger:hover {
  background-color: #31B0D5;
  color: white;
  border: 1px solid #31B0D5;
}
div#bio_ep_close {
  position: absolute;
  right: 8px;
  top: 0px;
  z-index: 99;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#bio_ep {
  text-align: center;
  box-shadow: none !important;
}
.child-label {
  display: block;
  font-size: 25px;
  margin: 20px;
}
#bio_ep_content {
  position: relative;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.better-popup-input-email {
  width: 70% !important;
  height: 35px !important;
}
input.better-popup-input-email::placeholder {
  opacity: 0.5;
}
.better-popup-btn-submit {
  width: 70%;
  margin: 10px 0 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 35px;
}
.mageplaza-betterpopup-content {
  width: 100%;
  height: 100%;
  display: table;
}
.success-title {
  font-size: 22px;
}
.mp-popup-coupon-code {
  width: 70%;
  margin: 0 auto;
}
#mp-coupon-code {
  text-align: center;
  max-width: 100%;
  border: 1px dashed #c1bebe;
  background: 0 0;
  font-size: 25px;
  color: #FFF;
  margin-top: 15px;
  height: 50px;
}
button.btn-copy.primary {
  width: 100%;
  margin: 5px 0 15px 0;
  color: #fff;
  background-color: #006bb4;
  border: none;
  height: 35px;
}
button.btn-copy.primary:hover {
  background: #006bb4;
  border: 1px solid #006bb4;
  color: #ffffff;
}
#status {
  color: #e02b27;
  visibility: visible;
  font-size: 13px !important;
}
span.success-lable {
  border: none !important;
  font-size: 16px !important;
}
#mp-powered {
  margin: 10px;
}
span.lable-powered {
  color: #fff;
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 20px;
}
canvas {
  position: fixed;
  z-index: 10002;
  opacity: 0.5;
  display: none;
  top: 0px;
  left: 0px;
}
.popup-loader {
  display: none;
  position: absolute;
  width: 100%;
  padding-top: 15px;
}
img.loader {
  width: 3%;
}
.tmp3-img-content {
  float: left;
}
.tmp3-text-content {
  background-color: #FFFFFF;
  font-family: sans-serif;
  float: left;
  width: calc(100% - 460px);
  height: 321px;
}
.tmp3-title {
  color: #0083d0;
  font-size: 50px;
  margin-top: 30px;
}
.tmp3-sub-title {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin-top: -12px;
}
.tmp3-text {
  color: #000000;
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
  line-height: 1.714;
  margin-top: 30px;
}
.tmp3-form {
  position: relative;
  margin-top: 30px;
}
.tmp3-input {
  border: none !important;
  border-radius: 17.5px !important;
  background-color: #e5e5e5 !important;
  height: 35px !important;
  font-family: sans-serif !important;
}
.tmp3_field_newsletter {
  width: 75%;
  margin: 0 auto;
}
.tmp3-button {
  position: absolute;
  top: 0;
  right: 40px;
  border-radius: 17.5px;
  height: 35px;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #a2a2a2 !important;
  font-size: 12px !important;
  font-style: italic;
  padding-left: 5px;
}
.tm1-popup-loader {
  margin-top: 10px;
}
.tm1-loader {
  width: 7%;
}
.tmp3-lable-powered {
  font-size: 10px;
  color: #ffffff;
  position: absolute;
  bottom: 15px;
  left: 20px;
}
#mp-popup-template4 {
  width: 105%;
  height: 105%;
  background-repeat: no-repeat;
}
.tmp4-text-content {
  width: 50%;
  background-color: #FFFFFF;
  font-family: sans-serif;
  float: left;
  margin: 25px 0 0 35px;
}
.tmp4-img-content {
  position: absolute;
  top: 40px;
  right: 10px;
}
.tmp4-title {
  font-size: 50px;
  color: #0083d0;
  line-height: 1.066;
  text-align: left;
}
.tmp4-sub-title {
  font-size: 14px;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.8;
  text-align: left;
}
.tmp4-text {
  font-size: 14px;
  color: #222222;
  line-height: 1.714;
  text-align: left;
  width: 75%;
  margin-top: 20px;
}
.tmp4-form {
  width: 75%;
  margin-left: 9px;
  text-align: left;
}
.tmp4-input {
  background-color: #e5e5e5 !important;
  margin-top: 30px;
  border: none !important;
  height: 35px !important;
  font-family: sans-serif !important;
}
.tmp4-input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-style: italic;
  padding-left: 15px;
  color: #a2a2a2 !important;
  line-height: 1.714;
  text-align: left;
}
.tmp4-button {
  background-color: #ff5a15 !important;
  width: 130px;
  height: 20px;
  border-radius: 10px;
  border: none !important;
  font-size: 10px !important;
  font-weight: bold !important;
  padding: 0 !important;
  margin: 15px 0 0 25px;
}
.tmp4-lable-powered {
  font-size: 10px;
  position: absolute;
  bottom: 20px;
  right: 93px;
  color: #979797;
}
.tmp5-img-content {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 35px;
}
.tmp5-img-cap {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
}
.tmp5-text-content {
  font-family: sans-serif;
  position: absolute;
  z-index: 40;
  top: -55px;
  left: 65px;
  width: 65%;
}
.tmp5-title {
  font-size: 40px;
  color: #0083d0;
  line-height: 1.2;
  text-align: center;
}
.tmp5-sub-title {
  font-size: 12px;
  color: #222222;
  font-weight: bold;
  text-align: center;
}
.tmp5-text {
  font-size: 14px;
  color: #222222;
  line-height: 1.286;
  text-align: center;
  margin-top: 15px;
}
.tmp5-form {
  width: 100%;
  position: absolute;
  z-index: 30;
  left: 0;
  bottom: 0;
}
.tmp5-img-email {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.tmp5_field_newsletter {
  position: absolute;
  z-index: 10;
  top: -158px;
  left: 80px;
}
.tmp5-input {
  background-color: #e5e5e5 !important;
  width: 200px !important;
  height: 35px !important;
  border: none !important;
  font-family: sans-serif !important;
  padding-left: 30px !important;
}
.tmp5-input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-style: italic;
  color: #a2a2a2 !important;
  line-height: 1.714;
  text-align: center;
  padding-right: 25px;
}
.tmp5-button {
  position: absolute;
  z-index: 30;
  background-color: #ff5a15 !important;
  width: 130px;
  height: 20px;
  border-radius: 10px;
  border: none !important;
  font-size: 10px !important;
  font-weight: bold !important;
  padding: 0 !important;
  margin-top: 10px;
  top: -125px;
  left: 115px;
}
.tmp5-msg-error {
  margin-top: 30px;
  position: absolute;
  z-index: 60;
  width: 100%;
}
.tmp5_field_newsletter #mp-newsletter-error {
  position: absolute;
}
.tmp5-form .popup-loader {
  position: absolute;
  width: 100%;
  padding-top: 15px;
  top: -100px;
  left: 0;
  z-index: 100;
}
.tmp5-form .popup-loader .loader {
  width: 6%;
}
.tmp5-lable-powered {
  font-size: 10px;
  position: absolute;
  z-index: 100;
  bottom: 10px;
  right: 35%;
  color: #FFFFFF;
}
#mp-popup-template6 {
  font-family: sans-serif;
}
.tmp6-left-title {
  width: 350px;
  background-color: #0083d0;
  height: 250px;
  float: left;
}
.tmp6-left-title ul {
  list-style-type: none;
  margin-top: 35px;
}
.tmp6-left-title ul li {
  margin-bottom: -5px;
}
.tmp6-left-title ul li:nth-child(1) {
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
}
.tmp6-left-title ul li:nth-child(2) {
  font-size: 36px;
  color: #ffffff;
  text-align: left;
}
.tmp6-left-title ul li:nth-child(3) {
  font-size: 36px;
  color: #51f5ff;
  text-align: left;
}
.tmp6-text-content {
  background-color: #FFFFFF;
  width: 450px;
  height: 250px;
  float: left;
}
.tmp6-text {
  padding-top: 35px;
  width: 85%;
  margin: 0 auto;
  font-size: 20px;
  color: #222222;
  line-height: 1.4;
  text-align: center;
}
.tmp6-form {
  width: 85%;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}
.tmp6-input {
  background: #e5e5e5 !important;
  height: 42px !important;
}
.tmp6-input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-style: italic;
  color: #a2a2a2 !important;
  line-height: 1.714;
  text-align: center;
}
.tmp6-button {
  background-color: #ff5a15 !important;
  width: 130px;
  height: 20px;
  border-radius: 10px;
  border: none !important;
  font-size: 10px !important;
  font-weight: bold !important;
  padding: 0 !important;
  margin-top: 20px;
}
.tmp6-lable-powered {
  position: absolute;
  left: 38px;
  bottom: 37px;
  font-size: 10px;
  color: #fffefe;
}
.tmp6_field_newsletter #mp-newsletter-error {
  position: absolute;
  top: 57px;
  display: block;
  width: 100%;
}
.tmp6-text-content .popup-loader {
  position: absolute;
  width: 100%;
  padding-top: 15px;
  bottom: 18px;
}
.multi-checkout-fields label {
  display: block;
  margin-bottom: 7px;
}
.multi-checkout-fields .field {
  margin: 1.5em 0;
}
.multi-checkout-fields .field.checkbox label {
  display: inline-block;
  margin: 0 0 0 12px;
}
.collection-point-country,
.collection-point-postalcode,
.collection-point-button {
  display: inline-block;
  padding: 20px 10px 0 0;
}
.collection-point-postalcode {
  max-width: 9em;
  vertical-align: top;
}
.field-error {
  color: #e02b27;
  font-size: 1.2rem;
  margin-top: 7px;
}
.box-order-shipping-address .box-subtitle {
  font-weight: 600;
}
.box-order-shipping-address .order-shipping-secondary-address {
  margin-top: 1rem;
}
#delivery-options-fields-block {
  max-width: 100%;
}
.pickup-locations-headline {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 25px;
}
.delivery-locations-form .delivery-locations-list {
  border: 1px solid #c2c2c2;
  max-height: 500px;
  overflow: auto;
}
.delivery-locations-form .delivery-locations-list table.location {
  margin-top: 28px;
}
.delivery-locations-form .delivery-locations-list table.location .first-column {
  padding: 0 14px;
  width: 14px;
}
.delivery-locations-form .delivery-locations-list table.location .second-column {
  padding: 0;
}
.opening-hour-wrapper {
  font-size: 12px;
}
.opening-hour-wrapper table thead {
  cursor: pointer;
  font-weight: 700;
}
.opening-hour-wrapper table thead tr td {
  padding: 10px 0 0;
  display: inline-block;
  text-decoration: none;
}
.opening-hour-wrapper table thead tr td:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 20px;
  color: #8f8f8f;
  content: '\e622';
  font-family: 'icons-blank-theme';
  margin: 0 0 0 10px;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.opening-hour-wrapper table thead tr td:hover:after {
  color: #333333;
}
.opening-hour-wrapper table thead tr td:active:after {
  color: #8f8f8f;
}
.opening-hour-wrapper table tbody {
  display: none;
}
.opening-hour-wrapper table tbody.special-hours-heading {
  padding-top: 10px;
  font-weight: 700;
}
.opening-hour-wrapper table tbody tr td {
  padding: 0 10px 0 0;
}
.opening-hour-wrapper table tbody tr td.time-span {
  font-weight: 600;
}
.opening-hour-wrapper table._active thead tr td:after {
  content: '\e621';
}
.opening-hour-wrapper table._active tbody {
  display: block;
}
/**
 * @copyright  Vertex. All rights reserved.  https://www.vertexinc.com/
 * @author     Mediotype                     https://www.mediotype.com/
 */
.opc-block-summary .vertex-message td,
.cart-summary .vertex-message td {
  padding: 0;
  border-top: none;
}
@media only screen and (max-width: 768px) {
  .field-tooltip .field-tooltip-content {
    left: auto;
    right: -10px;
    top: 40px;
  }
  .field-tooltip .field-tooltip-content::before,
  .field-tooltip .field-tooltip-content::after {
    border: 10px solid transparent;
    height: 0;
    left: auto;
    margin-top: -21px;
    right: 10px;
    top: 0;
    width: 0;
  }
  .field-tooltip .field-tooltip-content::before {
    border-bottom-color: #999999;
  }
  .field-tooltip .field-tooltip-content::after {
    border-bottom-color: #f4f4f4;
    top: 1px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 780px) and (orientation: landscape) {
  .product-video {
    height: 100%;
    width: 81%;
  }
}
@media all and (min-width: 768px), print {
  .abs-product-options-list-desktop dt,
  .block-giftregistry-shared .item-options dt {
    clear: left;
    float: left;
    margin: 0 10px 5px 0;
  }
  .block-giftregistry-shared .item-options dt:after {
    content: ': ';
  }
  .abs-product-options-list-desktop dd,
  .block-giftregistry-shared .item-options dd {
    display: inline-block;
    float: left;
    margin: 0 0 5px;
  }
  .abs-button-desktop {
    width: auto;
  }
  .abs-blocks-2columns,
  .amazon-addresses .amazon-address,
  .column .block-addbysku .block-content .box,
  .login-container .block,
  .account .column.main .block:not(.widget) .block-content .box,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box,
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content .box,
  .sales-guest-view .column.main .block:not(.widget) .block-content .box {
    width: 48.8%;
  }
  .amazon-addresses .amazon-address:nth-child(odd),
  .column .block-addbysku .block-content .box:nth-child(odd),
  .login-container .block:nth-child(odd),
  .account .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  .sales-guest-view .column.main .block:not(.widget) .block-content .box:nth-child(odd) {
    clear: left;
    float: left;
  }
  .amazon-addresses .amazon-address:nth-child(even),
  .column .block-addbysku .block-content .box:nth-child(even),
  .login-container .block:nth-child(even),
  .account .column.main .block:not(.widget) .block-content .box:nth-child(even),
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box:nth-child(even),
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content .box:nth-child(even),
  .sales-guest-view .column.main .block:not(.widget) .block-content .box:nth-child(even) {
    float: right;
  }
  .abs-reset-left-margin-desktop,
  .bundle-options-container .legend.title,
  .column.main .cart-summary .actions-toolbar,
  .cart.table-wrapper .item-actions .actions-toolbar,
  .gift-summary .actions-toolbar,
  .cart.table-wrapper .gift-summary .actions-toolbar,
  .column.main .block-giftregistry-shared-items .actions-toolbar,
  .form-new-agreement .fieldset .legend,
  .form-new-agreement .actions-toolbar,
  .column.main .paypal-review .actions-toolbar,
  .wishlist-index-index .main .form-wishlist-items .actions-toolbar {
    margin-left: 0;
  }
  .abs-action-remove-desktop,
  .abs-add-fields-desktop .fieldset .additional .action.remove,
  .form-giftregistry-share .fieldset .additional .action.remove,
  .form-giftregistry-edit .fieldset .additional .action.remove,
  .form-add-invitations .fieldset .additional .action.remove,
  .form-create-return .fieldset .additional .action.remove,
  .form.send.friend .fieldset .additional .action.remove {
    margin-left: 75.8%;
    top: 6px;
  }
  .form-giftregistry-share .fieldset .field:not(.choice) .control,
  .form-giftregistry-edit .fieldset .field:not(.choice) .control,
  .form-add-invitations .fieldset .field:not(.choice) .control,
  .form-create-return .fieldset .field:not(.choice) .control,
  .form.send.friend .fieldset .field:not(.choice) .control {
    width: 50%;
  }
  .abs-margin-for-forms-desktop,
  .fieldset .legend,
  .column:not(.sidebar-main) form .actions-toolbar,
  .column:not(.sidebar-additional) form .actions-toolbar,
  .login-container .fieldset:after {
    margin-left: 25.8%;
  }
  .abs-visually-hidden-desktop,
  .modes-label,
  .block-search .label,
  .dashboard-welcome-toggler {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .abs-add-clearfix-desktop:before,
  .abs-add-clearfix-desktop:after,
  .abs-pager-toolbar:before,
  .abs-pager-toolbar:after,
  .amazon-addresses:before,
  .amazon-addresses:after,
  .block-cart-failed .block-content:before,
  .block-cart-failed .block-content:after,
  .column .block-addbysku .block-content:before,
  .column .block-addbysku .block-content:after,
  .cart-container:before,
  .cart-container:after,
  .login-container:before,
  .login-container:after,
  .account .column.main .block:not(.widget) .block-content:before,
  .account .column.main .block:not(.widget) .block-content:after,
  .block-addresses-list .items.addresses:before,
  .block-addresses-list .items.addresses:after,
  .block-giftregistry-shared .item-options:before,
  .block-giftregistry-shared .item-options:after,
  .gift-wrapping .nested:before,
  .gift-wrapping .nested:after,
  .table .gift-wrapping .content:before,
  .table .gift-wrapping .content:after,
  .block-wishlist-management:before,
  .block-wishlist-management:after,
  .paypal-review .block-content:before,
  .paypal-review .block-content:after,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content:before,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content:after,
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content:before,
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content:after,
  .sales-guest-view .column.main .block:not(.widget) .block-content:before,
  .sales-guest-view .column.main .block:not(.widget) .block-content:after,
  .header.content:before,
  .header.content:after,
  .page-header .header.panel:before,
  .page-header .header.panel:after,
  .account .toolbar:before,
  .account .toolbar:after,
  .toolbar-giftregistry-results:before,
  .toolbar-giftregistry-results:after,
  .toolbar-wishlist-results:before,
  .toolbar-wishlist-results:after {
    content: '';
    display: table;
  }
  .abs-add-clearfix-desktop:after,
  .abs-pager-toolbar:after,
  .amazon-addresses:after,
  .block-cart-failed .block-content:after,
  .column .block-addbysku .block-content:after,
  .cart-container:after,
  .login-container:after,
  .account .column.main .block:not(.widget) .block-content:after,
  .block-addresses-list .items.addresses:after,
  .block-giftregistry-shared .item-options:after,
  .gift-wrapping .nested:after,
  .table .gift-wrapping .content:after,
  .block-wishlist-management:after,
  .paypal-review .block-content:after,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content:after,
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content:after,
  .sales-guest-view .column.main .block:not(.widget) .block-content:after,
  .header.content:after,
  .page-header .header.panel:after,
  .account .toolbar:after,
  .toolbar-giftregistry-results:after,
  .toolbar-wishlist-results:after {
    clear: both;
  }
  .abs-add-box-sizing-desktop,
  .column.main,
  .sidebar-main,
  .sidebar-additional {
    box-sizing: border-box;
  }
  .abs-add-box-sizing-desktop-m,
  .opc-wrapper {
    box-sizing: border-box;
  }
  .abs-revert-field-type-desktop .fieldset > .field,
  .abs-revert-field-type-desktop .fieldset .fields > .field,
  .product-add-form .fieldset > .field,
  .product-add-form .fieldset .fields > .field {
    margin: 0 0 20px;
  }
  .abs-revert-field-type-desktop .fieldset > .field:not(.choice) > .label,
  .abs-revert-field-type-desktop .fieldset .fields > .field:not(.choice) > .label,
  .product-add-form .fieldset > .field:not(.choice) > .label,
  .product-add-form .fieldset .fields > .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .abs-revert-field-type-desktop .fieldset > .field:not(.choice) > .control,
  .abs-revert-field-type-desktop .fieldset .fields > .field:not(.choice) > .control,
  .product-add-form .fieldset > .field:not(.choice) > .control,
  .product-add-form .fieldset .fields > .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .abs-revert-field-type-desktop .fieldset > .field > .label,
  .abs-revert-field-type-desktop .fieldset .fields > .field > .label,
  .product-add-form .fieldset > .field > .label,
  .product-add-form .fieldset .fields > .field > .label {
    margin: 0 0 5px;
    display: inline-block;
  }
  .abs-revert-field-type-desktop .fieldset > .field.choice:before,
  .abs-revert-field-type-desktop .fieldset .fields > .field.choice:before,
  .abs-revert-field-type-desktop .fieldset > .field.no-label:before,
  .abs-revert-field-type-desktop .fieldset .fields > .field.no-label:before,
  .product-add-form .fieldset > .field.choice:before,
  .product-add-form .fieldset .fields > .field.choice:before,
  .product-add-form .fieldset > .field.no-label:before,
  .product-add-form .fieldset .fields > .field.no-label:before {
    display: none;
  }
  .product-add-form .fieldset > .field:not(:first-child):last-of-type,
  .product-add-form .fieldset .fields > .field:not(:first-child):last-of-type {
    margin-bottom: 0;
  }
  .abs-no-display-desktop,
  .opc-estimated-wrapper,
  .sidebar .block.widget .pager .item:not(.pages-item-next):not(.pages-item-previous) {
    display: none;
  }
  .abs-pager-toolbar,
  .account .toolbar,
  .toolbar-giftregistry-results,
  .toolbar-wishlist-results {
    margin-bottom: 20px;
    position: relative;
  }
  .abs-pager-toolbar .limiter,
  .account .toolbar .limiter,
  .toolbar-giftregistry-results .limiter,
  .toolbar-wishlist-results .limiter {
    float: right;
    position: relative;
    z-index: 1;
  }
  .abs-pager-toolbar .toolbar-amount,
  .account .toolbar .toolbar-amount,
  .toolbar-giftregistry-results .toolbar-amount,
  .toolbar-wishlist-results .toolbar-amount {
    float: left;
    line-height: normal;
    padding: 7px 0 0;
    position: relative;
    z-index: 1;
  }
  .abs-pager-toolbar .pages,
  .account .toolbar .pages,
  .toolbar-giftregistry-results .pages,
  .toolbar-wishlist-results .pages {
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  .abs-shopping-cart-items-desktop,
  .block-cart-failed,
  .cart-container .form-cart,
  .cart-container .cart-gift-item {
    float: left;
    position: relative;
    width: 73%;
  }
  .abs-shopping-cart-items-desktop .actions,
  .block-cart-failed .actions,
  .cart-container .form-cart .actions,
  .cart-container .cart-gift-item .actions {
    text-align: right;
  }
  .block-cart-failed .action.clear,
  .block-cart-failed .action.update,
  .cart-container .form-cart .action.clear,
  .cart-container .form-cart .action.update,
  .cart-container .cart-gift-item .action.clear,
  .cart-container .cart-gift-item .action.update {
    margin-left: 10px;
  }
  .block-cart-failed .action.continue,
  .cart-container .form-cart .action.continue,
  .cart-container .cart-gift-item .action.continue {
    float: left;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .page-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }
  .page-main {
    width: 100%;
  }
  .columns {
    display: block;
  }
  .column.main {
    min-height: 300px;
  }
  .page-layout-1column .column.main {
    width: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-3columns .column.main {
    width: 66.66666667%;
    display: inline-block;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-left .column.main {
    width: 83.33333333%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-right .column.main {
    width: 83.33333333%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .sidebar-main {
    padding-right: 2%;
  }
  .page-layout-3columns .sidebar-main {
    width: 16.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .page-layout-2columns-left .sidebar-main {
    width: 16.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .page-layout-2columns-right .sidebar-main {
    width: 16.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .page-layout-2columns-right .sidebar-main {
    padding-left: 2%;
    padding-right: 0;
  }
  .sidebar-additional {
    clear: right;
    padding-left: 2%;
  }
  .page-layout-3columns .sidebar-additional {
    width: 16.66666667%;
    float: right;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .page-layout-2columns-left .sidebar-additional {
    width: 16.66666667%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-right .sidebar-additional {
    width: 16.66666667%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-left .sidebar-additional {
    clear: left;
    float: left;
    padding-left: 0;
    padding-right: 2%;
  }
  .panel.header {
    padding: 10px 20px;
  }
  .nav-toggle {
    display: none;
  }
  .nav-sections {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-bottom: 25px;
  }
  .nav-sections-item-title {
    display: none;
  }
  .nav-sections-item-content {
    display: block !important;
  }
  .nav-sections-item-content > * {
    display: none;
  }
  .nav-sections-item-content > .navigation {
    display: block;
  }
  .navigation {
    background: #f5f5f5;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navigation:empty {
    display: none;
  }
  .navigation ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }
  .navigation li.level0 {
    border-top: none;
  }
  .navigation li.level1 {
    position: relative;
  }
  .navigation .level0 {
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
  }
  .navigation .level0:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .navigation .level0:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 10px;
    height: calc(103%);
    z-index: 1;
  }
  .navigation .level0 > .level-top {
    color: #575757;
    line-height: 53px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
  }
  .navigation .level0 > .level-top:hover,
  .navigation .level0 > .level-top.ui-state-focus {
    color: #333333;
    text-decoration: none;
  }
  .navigation .level0.active > .level-top,
  .navigation .level0.has-active > .level-top {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 3px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
  }
  .navigation .level0.parent:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0.parent > .level-top {
    padding-right: 20px;
  }
  .navigation .level0.parent > .level-top > .ui-menu-icon {
    position: absolute;
    right: 0;
    display: inline-block;
    text-decoration: none;
  }
  .navigation .level0.parent > .level-top > .ui-menu-icon > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .navigation .level0.parent > .level-top > .ui-menu-icon:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 20px;
    color: inherit;
    content: '\e622';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .navigation .level0 .submenu {
    background: #ffffff;
    border: 1px solid #d1d1d1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    font-weight: 700;
    min-width: 230px;
    padding: 15px 0;
    display: none;
    left: 0;
    margin: 0 !important;
    position: absolute;
    z-index: 1;
    margin-top: 11px;
  }
  .navigation .level0 .submenu > ul {
    margin-top: 11px;
  }
  .navigation .level0 .submenu > ul:before,
  .navigation .level0 .submenu > ul:after {
    content: '';
    display: block;
    overflow: hidden;
    position: absolute;
  }
  .navigation .level0 .submenu > ul:before {
    color: #ffffff;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #ffffff;
    z-index: 4;
  }
  .navigation .level0 .submenu > ul:after {
    border: 11px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #d1d1d1;
    color: #d1d1d1;
    left: 19px;
    top: -22px;
    z-index: 3;
  }
  .navigation .level0 .submenu:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: -4px;
    z-index: 1;
  }
  .navigation .level0 .submenu a {
    display: block;
    line-height: inherit;
    color: #575757;
    padding: 8px 20px;
  }
  .navigation .level0 .submenu a:hover,
  .navigation .level0 .submenu a.ui-state-focus {
    background: #e8e8e8;
    color: #333333;
    text-decoration: none;
  }
  .navigation .level0 .submenu .active > a {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 3px;
  }
  .navigation .level0 .submenu .submenu {
    top: 0 !important;
    left: 100% !important;
  }
  .navigation .level0 .submenu .submenu-reverse {
    left: auto !important;
    right: 100%;
  }
  .navigation .level0 .submenu li {
    margin: 0;
  }
  .navigation .level0 .submenu li.parent > a > .ui-menu-icon {
    position: absolute;
    right: 3px;
    display: inline-block;
    text-decoration: none;
  }
  .navigation .level0 .submenu li.parent > a > .ui-menu-icon > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .navigation .level0 .submenu li.parent > a > .ui-menu-icon:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 20px;
    color: inherit;
    content: '\e608';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .navigation .level0.more {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .navigation .level0.more:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 26px;
    line-height: inherit;
    color: inherit;
    content: '\e607';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .navigation .level0.more:before {
    display: none;
  }
  .navigation .level0.more:after {
    cursor: pointer;
    padding: 8px 12px;
    position: relative;
    z-index: 1;
  }
  .navigation .level0.more:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0.more li {
    display: block;
  }
  .panel.header .links,
  .panel.header .switcher {
    display: inline-block;
  }
  .fieldset > .field {
    margin: 0 0 20px;
    box-sizing: border-box;
    margin: 0 0 29px;
  }
  .fieldset > .field > .label {
    margin: 0;
  }
  .fieldset > .field:before,
  .fieldset > .field:after {
    content: '';
    display: table;
  }
  .fieldset > .field:after {
    clear: both;
  }
  .fieldset > .field.choice:before,
  .fieldset > .field.no-label:before {
    padding: 6px 15px 0 0;
    width: 25.8%;
    box-sizing: border-box;
    content: ' ';
    float: left;
    height: 1px;
  }
  .fieldset > .field .description {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .fieldset > .field:not(.choice) > .label {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .fieldset > .field:not(.choice) > .control {
    width: 74.2%;
    float: left;
  }
  .product.data.items {
    position: relative;
    z-index: 1;
  }
  .product.data.items:before,
  .product.data.items:after {
    content: '';
    display: table;
  }
  .product.data.items:after {
    clear: both;
  }
  .product.data.items > .item.title {
    float: left;
    width: auto;
  }
  .product.data.items > .item.title > .switch {
    height: 20px;
    display: block;
    position: relative;
    z-index: 2;
  }
  .product.data.items > .item.content {
    margin-top: 20px;
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    width: 100%;
  }
  .product.data.items > .item.content:before,
  .product.data.items > .item.content:after {
    content: '';
    display: table;
  }
  .product.data.items > .item.content:after {
    clear: both;
  }
  .product.data.items > .item.content.active {
    display: block;
  }
  .product.data.items > .item.title {
    margin: 0 5px 0 0;
  }
  .product.data.items > .item.title > .switch {
    font-weight: 600;
    line-height: 20px;
    font-size: 1.4rem;
    color: #7d7d7d;
    text-decoration: none;
    background: #f0f0f0;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    height: 20px;
    padding: 5px 20px 5px 20px;
  }
  .product.data.items > .item.title > .switch:visited {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:hover {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:active {
    color: #333333;
    text-decoration: none;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:focus,
  .product.data.items > .item.title:not(.disabled) > .switch:hover {
    background: #fcfcfc;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:active,
  .product.data.items > .item.title.active > .switch,
  .product.data.items > .item.title.active > .switch:focus,
  .product.data.items > .item.title.active > .switch:hover {
    background: #ffffff;
    color: #333333;
    text-decoration: none;
  }
  .product.data.items > .item.title.active > .switch,
  .product.data.items > .item.title.active > .switch:focus,
  .product.data.items > .item.title.active > .switch:hover {
    padding-bottom: 6px;
  }
  .product.data.items > .item.content {
    background: #ffffff;
    margin-top: 31px;
    padding: 20px 20px 20px 20px;
    border: 0;
    border-top: 1px solid #d1d1d1;
  }
  .actions-toolbar:before,
  .actions-toolbar:after {
    content: '';
    display: table;
  }
  .actions-toolbar:after {
    clear: both;
  }
  .actions-toolbar .primary {
    float: left;
  }
  .actions-toolbar .secondary {
    float: right;
  }
  .actions-toolbar .primary,
  .actions-toolbar .secondary {
    display: inline-block;
  }
  .actions-toolbar .primary a.action,
  .actions-toolbar .secondary a.action {
    display: inline-block;
  }
  .actions-toolbar .primary .action {
    margin: 0 5px 0 0;
  }
  .actions-toolbar .secondary a.action {
    margin-top: 6px;
  }
  .actions-toolbar > .primary,
  .actions-toolbar > .secondary {
    margin-bottom: 0;
  }
  .actions-toolbar > .primary .action,
  .actions-toolbar > .secondary .action {
    margin-bottom: 0;
    width: auto;
  }
  .modal-popup.modal-slide .modal-footer {
    border-top: 1px solid #c1c1c1;
    text-align: right;
  }
  .contact-index-index .column:not(.sidebar-additional) .form.contact {
    min-width: 600px;
  }
  .login-container .block-amazon-login {
    clear: none;
    float: right;
  }
  .login-container .block-amazon-login .actions-toolbar {
    margin-top: 25px;
  }
  .login-container .block:nth-child(2) + .block-amazon-login {
    clear: none;
  }
  .amazon-validate-container {
    margin: 40px auto 0 auto;
    width: 500px;
  }
  .amazon-validate-container .primary {
    width: 190px;
  }
  .amazon-validate-container .continue-as-guest {
    width: 130px;
  }
  .amazon-validate-container .forgot-password {
    text-align: right;
    width: 175px;
  }
  .amazon-addresses .amazon-address {
    margin-bottom: 0;
  }
  /* Overwriting Magento's padding for the method title to make
       sure our KP methods have the same height as the core methods */
  .klarna-payments-method > .payment-method-title {
    padding: 11.5px 0;
  }
  .block-cart-failed .actions {
    text-align: left;
  }
  .block-cart-failed .actions.primary {
    float: right;
  }
  .payment-method-braintree .cvv .field-tooltip {
    left: 6rem;
  }
  .braintree-paypal-account {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px 0;
    display: inline-block;
    width: 50%;
  }
  .account .table-credit-cards .col.actions {
    width: 100px;
  }
  .bundle-options-container .bundle-options-wrapper,
  .bundle-options-container .product-options-wrapper {
    float: left;
    width: 57%;
  }
  .bundle-options-container .block-bundle-summary {
    float: right;
    position: relative;
    width: 40%;
  }
  .page-layout-2columns-left .bundle-options-container .bundle-options-wrapper,
  .page-layout-2columns-left .bundle-options-container .block-bundle-summary,
  .page-layout-2columns-right .bundle-options-container .bundle-options-wrapper,
  .page-layout-2columns-right .bundle-options-container .block-bundle-summary,
  .page-layout-3columns .bundle-options-container .bundle-options-wrapper,
  .page-layout-3columns .bundle-options-container .block-bundle-summary {
    width: 48%;
  }
  .page-products .products-grid .product-item {
    margin-left: 2%;
    padding: 0;
    width: calc((100% - 4%) / 3);
  }
  .page-products .products-grid .product-item:nth-child(3n + 1) {
    margin-left: 0;
  }
  .page-products.page-layout-1column .products-grid .product-item {
    width: 25%;
  }
  .page-products.page-layout-3columns .products-grid .product-item {
    width: 50%;
  }
  .page-products .columns {
    padding-top: 0;
    position: relative;
    z-index: 1;
  }
  .products.wrapper ~ .toolbar .pages {
    float: left;
  }
  .toolbar-amount {
    float: left;
  }
  .sorter {
    float: right;
  }
  .modes {
    display: inline-block;
    float: left;
    margin-right: 20px;
  }
  .products.wrapper ~ .toolbar .modes {
    display: none;
  }
  .modes-mode {
    color: #7d7d7d;
    border: 1px solid #d1d1d1;
    border-right: 0;
    float: left;
    font-weight: 400;
    line-height: 1;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }
  .modes-mode:not(.active):hover {
    color: #7d7d7d;
    background: #dedede;
  }
  .modes-mode:last-child {
    border-right: 1px solid #d1d1d1;
  }
  .modes-mode.active {
    color: #a6a6a6;
  }
  .modes-mode > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .modes-mode:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    line-height: inherit;
    color: #7d7d7d;
    content: '\e60d';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .modes-mode:hover:before {
    color: #7d7d7d;
  }
  .mode-list:before {
    content: '\e60b';
  }
  .products.wrapper ~ .toolbar .limiter {
    display: block;
    float: right;
  }
  .product-info-main .box-tocart,
  .product-options-bottom .box-tocart {
    display: table;
  }
  .product-info-main .box-tocart .field.qty,
  .product-options-bottom .box-tocart .field.qty {
    display: table-cell;
  }
  .product-info-main .box-tocart .actions,
  .product-options-bottom .box-tocart .actions {
    display: table-cell;
    padding-top: 25px;
    text-align: center;
    vertical-align: bottom;
  }
  .product-info-main .page-title-wrapper .page-title {
    margin-top: -13px;
  }
  .sidebar .product-items .product-item-info .product-item-photo {
    float: left;
    left: auto;
    margin: 0 10px 10px 0;
    position: relative;
    top: auto;
  }
  .sidebar .product-items .product-item-details {
    margin: 0;
  }
  .sidebar .product-items .product-item-actions {
    clear: left;
  }
  .product-info-main {
    float: right;
  }
  .product.media {
    float: left;
    margin-bottom: 25px;
  }
  .page-layout-1column .product-info-main {
    width: 40%;
  }
  .page-layout-1column .product.media {
    width: 57%;
  }
  .page-layout-2columns-left .product-info-main,
  .page-layout-2columns-right .product-info-main,
  .page-layout-3columns .product-info-main {
    width: 48%;
  }
  .page-layout-2columns-left .product.media,
  .page-layout-2columns-right .product.media,
  .page-layout-3columns .product.media {
    width: 50%;
  }
  .block-category-event.block:last-child {
    margin-bottom: 30px;
    padding: 10px 0 30px;
  }
  .block-category-event .block-title {
    margin: 0;
  }
  .block-category-event .block-title strong {
    font-size: 2.4rem;
  }
  .block-category-event .ticker li {
    display: none;
    margin: 0 50px;
  }
  .block-category-event .ticker .value {
    font-size: 6rem;
  }
  .block-category-event .ticker .label {
    font-size: 1.4rem;
    text-transform: none;
  }
  .block-category-event .dates .date {
    font-size: 5rem;
  }
  .block-category-event .dates .start {
    padding-right: 50px;
  }
  .block-category-event .dates .start:after {
    font-size: 5rem;
    right: 10px;
  }
  .block-search {
    float: right;
    padding-left: 15px;
    position: relative;
    width: 250px;
    z-index: 4;
  }
  .block-search .control {
    border-top: 0;
    margin: 0;
    padding: 0 0 25px;
  }
  .block-search .nested {
    display: block;
    padding-top: 5px;
    position: absolute;
  }
  .block-search input {
    margin: 0;
    padding-right: 35px;
    position: static;
  }
  .block-search input::-webkit-input-placeholder {
    color: #c2c2c2;
  }
  .block-search input:-moz-placeholder {
    color: #c2c2c2;
  }
  .block-search input::-moz-placeholder {
    color: #c2c2c2;
  }
  .block-search input:-ms-input-placeholder {
    color: #c2c2c2;
  }
  .block-search .action.search {
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    padding: 5px 0;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
  }
  .block-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .block-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 22px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .block-search .action.search:hover:before {
    color: inherit;
  }
  .block-search .action.search:active:before {
    color: inherit;
  }
  .block-search .action.search:focus,
  .block-search .action.search:active {
    background: none;
    border: none;
  }
  .block-search .action.search:hover {
    background: none;
    border: none;
  }
  .block-search .action.search.disabled,
  .block-search .action.search[disabled],
  fieldset[disabled] .block-search .action.search {
    pointer-events: none;
    opacity: 0.5;
  }
  .block-search .action.search:focus:before {
    color: #333333;
  }
  .search-autocomplete {
    margin-top: 0;
  }
  .cart-container .widget {
    float: left;
  }
  .cart-summary {
    float: right;
    position: relative;
    width: 23%;
  }
  .column.main .cart-summary .actions-toolbar > .secondary {
    float: none;
  }
  .cart-summary .block .fieldset .field {
    margin: 0 0 20px;
    margin: 0 0 10px;
  }
  .cart-summary .block .fieldset .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .cart-summary .block .fieldset .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .cart-summary .block .fieldset .field > .label {
    margin: 0 0 5px;
    display: inline-block;
  }
  .cart-summary .block .fieldset .field.choice:before,
  .cart-summary .block .fieldset .field.no-label:before {
    display: none;
  }
  .cart.table-wrapper .items {
    min-width: 100%;
    width: auto;
  }
  .cart.table-wrapper .item .col.item {
    padding: 27px 8px 10px;
  }
  .cart.table-wrapper .item-actions td {
    text-align: right;
  }
  .cart.table-wrapper .product-item-photo {
    display: table-cell;
    max-width: 100%;
    padding-right: 20px;
    position: static;
    vertical-align: top;
    width: 1%;
  }
  .cart.table-wrapper .product-item-details {
    display: table-cell;
    vertical-align: top;
    white-space: normal;
    width: 99%;
  }
  .cart.table-wrapper .item-actions .actions-toolbar {
    text-align: left;
  }
  .cart .action {
    margin-bottom: 10px;
  }
  .cart-products-toolbar .toolbar-amount {
    line-height: 30px;
    margin: 0;
  }
  .cart-products-toolbar .pages {
    float: right;
    margin: 0 0 1px;
  }
  .cart-products-toolbar .pages .item:last-child {
    margin-right: 0;
  }
  .cart.table-wrapper .cart-products-toolbar + .cart thead tr th.col {
    padding-bottom: 7px;
    padding-top: 8px;
  }
  .cart.table-wrapper .cart + .cart-products-toolbar {
    margin-top: 25px;
  }
  .minicart-wrapper {
    margin-left: 13px;
  }
  .minicart-wrapper .block-minicart {
    right: -15px;
    width: 390px;
  }
  .opc-wrapper {
    width: 66.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding-right: 30px;
  }
  .checkout-onepage-success .print {
    display: block;
    float: right;
    margin: 22px 0 0;
  }
  .opc-progress-bar-item {
    width: 185px;
  }
  .checkout-index-index .modal-popup .form-shipping-address {
    max-width: 600px;
  }
  .checkout-index-index .modal-popup .modal-footer .action-save-address {
    float: right;
    margin: 0 0 0 10px;
  }
  .checkout-shipping-method .actions-toolbar > .primary {
    float: right;
  }
  .checkout-shipping-method .actions-toolbar .action.primary {
    margin: 0;
  }
  .opc-wrapper .form-login,
  .opc-wrapper .form-shipping-address {
    max-width: 600px;
  }
  .table-checkout-shipping-method {
    width: auto;
  }
  .opc-sidebar {
    margin: 46px 0 20px;
    width: 33.33333333%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .opc-summary-wrapper .modal-header .action-close {
    display: none;
  }
  .authentication-dropdown {
    background-color: #ffffff;
    border: 1px solid #aeaeae;
    -webkit-transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    -webkit-transition: -webkit-transform linear 0.1s, visibility 0s linear 0.1s;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: scale(1, 0);
    transform-origin: 0 0;
    transition: transform linear .1s, visibility 0s linear .1s;
    visibility: hidden;
    width: 100%;
  }
  .authentication-dropdown._show {
    z-index: 100;
    -webkit-transform: scale(1, 1);
    -webkit-transition: -webkit-transform linear 0.1s, visibility 0s linear 0s;
    transform: scale(1, 1);
    transition: transform linear .1s, visibility 0s linear 0s;
    visibility: visible;
  }
  .authentication-wrapper {
    width: 33.33333333%;
    text-align: right;
  }
  .block-authentication .block-title {
    font-size: 2.6rem;
    border-bottom: 0;
    margin-bottom: 25px;
  }
  .block-authentication .actions-toolbar > .primary {
    display: inline;
    float: right;
    margin-right: 0;
  }
  .block-authentication .actions-toolbar > .primary .action {
    margin-right: 0;
  }
  .block-authentication .actions-toolbar > .secondary {
    float: left;
    margin-right: 2rem;
    padding-top: 1rem;
  }
  .popup-authentication .modal-inner-wrap {
    min-width: 768px;
    width: 60%;
  }
  .popup-authentication .block-authentication {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid #c1c1c1;
  }
  .popup-authentication .block[class],
  .popup-authentication .form-login,
  .popup-authentication .fieldset,
  .popup-authentication .block-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  .popup-authentication .block[class] {
    box-sizing: border-box;
    float: left;
    padding: 10px 30px 0 0;
    width: 50%;
  }
  .popup-authentication .block[class] + .block {
    border-left: 1px solid #c1c1c1;
    border-top: 0;
    margin: 0;
    padding: 10px 0 0 40px;
  }
  .popup-authentication .block[class] + .block:before {
    left: 0;
    top: 50%;
  }
  .popup-authentication .actions-toolbar {
    margin-bottom: 0;
    margin-top: auto;
  }
  .checkout-payment-method .actions-toolbar .primary {
    float: right;
    margin: 0;
  }
  .checkout-payment-method .fieldset > .field-select-billing > .control {
    float: none;
    width: 100%;
  }
  .checkout-payment-method .payment-method-content .fieldset > .field {
    margin: 0 0 20px;
  }
  .checkout-payment-method .payment-method-content .fieldset > .field.choice:before {
    padding: 0;
    width: 0;
  }
  .checkout-payment-method .payment-method-content .fieldset > .field.type .control {
    margin-left: 25.8%;
  }
  .checkout-payment-method .payment-method-content .fieldset > .field.type.no-detection .control {
    margin-left: 0;
  }
  .checkout-billing-address .action-update {
    float: right;
  }
  .checkout-billing-address .actions-toolbar .action-cancel {
    margin: 6px 20px 0 0;
  }
  .checkout-payment-method .payment-option-title {
    padding-left: 22px;
  }
  .checkout-payment-method .payment-option-content .payment-option-inner + .actions-toolbar {
    margin-left: 0;
  }
  .login-container .block.login .actions-toolbar > .primary {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .login-container .block.login .actions-toolbar > .secondary {
    float: left;
  }
  .login-container .fieldset > .field > .control {
    width: 80%;
  }
  .fieldset .fullname .field .label {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .fieldset .fullname .field .control {
    width: 74.2%;
    float: left;
  }
  .form.password.reset,
  .form.send.confirmation,
  .form.password.forget,
  .form.create.account,
  .form.search.advanced,
  .form.form-orders-search {
    min-width: 600px;
    width: 50%;
  }
  .account.page-layout-2columns-left .sidebar-main,
  .account.page-layout-2columns-left .sidebar-additional {
    width: 22.3%;
  }
  .account.page-layout-2columns-left .column.main {
    width: 77.7%;
  }
  .block-addresses-list .items.addresses {
    font-size: 0;
  }
  .block-addresses-list .items.addresses > .item {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 20px;
    vertical-align: top;
    width: 48.8%;
  }
  .block-addresses-list .items.addresses > .item:nth-last-child(1),
  .block-addresses-list .items.addresses > .item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .block-addresses-list .items.addresses > .item:nth-child(even) {
    margin-left: 2.4%;
  }
  .control.captcha-image .captcha-img {
    margin: 0 10px 10px 0;
  }
  .page-product-downloadable .product-options-wrapper {
    float: left;
    width: 55%;
  }
  .page-product-downloadable .product-options-bottom {
    float: right;
    width: 40%;
  }
  .page-product-downloadable .product-options-bottom .field.qty + .actions {
    padding-top: 0;
  }
  .gift-message .field {
    margin-bottom: 20px;
  }
  .gift-options {
    position: relative;
    z-index: 1;
  }
  .gift-options .actions-toolbar {
    clear: both;
    float: right;
    position: static;
  }
  .gift-options .actions-toolbar .secondary {
    float: right;
  }
  .gift-options .actions-toolbar .secondary .action {
    float: right;
    margin-left: 20px;
  }
  .gift-options .actions-toolbar .secondary .action-cancel {
    display: block;
    float: left;
    margin-top: 6px;
  }
  .gift-options .actions-toolbar:nth-child(3):before {
    border-left: 1px solid #c1c1c1;
    bottom: 5rem;
    content: '';
    display: block;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
  }
  .gift-options-title {
    font-weight: 300;
    font-size: 1.8rem;
  }
  .cart.table-wrapper .action-gift {
    float: left;
  }
  .order-options .gift-wrapping,
  .table-order-review .gift-wrapping {
    max-width: 50%;
  }
  .form-giftregistry-search .fieldset {
    margin-bottom: 29px;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field {
    margin: 0 0 20px;
    box-sizing: border-box;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field > .label {
    margin: 0;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:before,
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:after {
    content: '';
    display: table;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:after {
    clear: both;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field.choice:before,
  .form-giftregistry-search .fieldset > .fields-specific-options > .field.no-label:before {
    padding: 6px 15px 0 0;
    width: 25.8%;
    box-sizing: border-box;
    content: ' ';
    float: left;
    height: 1px;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field .description {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:not(.choice) > .label {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:not(.choice) > .control {
    width: 74.2%;
    float: left;
  }
  .block-giftregistry-shared-items .product-item-photo {
    display: table-cell;
    max-width: 100%;
    padding: 0 20px 0 0;
    vertical-align: top;
    width: 1%;
  }
  .block-giftregistry-shared-items .product-item-details {
    display: table-cell;
    vertical-align: top;
    width: 99%;
    word-break: normal;
  }
  .block-giftregistry-shared-items .col.product {
    width: 48%;
  }
  .block-giftregistry-shared-items .col:not(.product) {
    text-align: center;
  }
  .block-giftregistry-shared-items .col.price {
    padding-top: 17px;
  }
  .block-giftregistry-shared-items .input-text.qty {
    margin-top: -4px;
  }
  .gift-options-cart-item .gift-wrapping,
  .cart-gift-item .gift-wrapping {
    box-sizing: border-box;
    float: left;
    padding-right: 20px;
    width: 50%;
  }
  .gift-options-cart-item .gift-wrapping + .gift-message,
  .cart-gift-item .gift-wrapping + .gift-message {
    border-left: 1px solid #c1c1c1;
    box-sizing: border-box;
    float: left;
    padding-left: 4.5rem;
    width: 50%;
  }
  .form-add-invitations .additional,
  .form-add-invitations .field.text {
    margin-top: 29px;
  }
  .table-invitations .col {
    width: 50%;
  }
  .wishlist.window.popup {
    bottom: auto;
    top: 20%;
    left: 50%;
    margin-left: -212px;
    width: 380px;
    right: auto;
  }
  .wishlist.window.popup .field {
    margin: 0 0 20px;
  }
  .wishlist.window.popup .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .wishlist.window.popup .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .wishlist.window.popup .field > .label {
    margin: 0 0 5px;
    display: inline-block;
  }
  .wishlist.window.popup .field.choice:before,
  .wishlist.window.popup .field.no-label:before {
    display: none;
  }
  .block-wishlist-management {
    margin-bottom: 20px;
  }
  .block-wishlist-management .wishlist-select {
    border-bottom: 1px solid #e8e8e8;
    display: table;
    margin-bottom: 15px;
    width: 100%;
  }
  .block-wishlist-management .wishlist-select .wishlist-name {
    display: table-cell;
    margin-right: 10px;
    padding: 5px 10px 10px;
    vertical-align: top;
    white-space: nowrap;
    width: 5%;
  }
  .block-wishlist-management .wishlist-select-items {
    display: table-cell;
    padding-right: 160px;
    vertical-align: top;
  }
  .block-wishlist-management .wishlist-select-items .item {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px 10px;
  }
  .block-wishlist-management .wishlist-select-items .item:last-child {
    margin-right: 0;
  }
  .block-wishlist-management .wishlist-select-items .current {
    border-bottom: 3px solid #ff5501;
    font-weight: 600;
  }
  .block-wishlist-management .wishlist-select .wishlist-name-current {
    display: none;
  }
  .block-wishlist-management .wishlist-add.item {
    position: absolute;
    right: 0;
    top: 0;
  }
  .block-wishlist-management .wishlist-title strong {
    font-size: 4rem;
  }
  .block-wishlist-management .wishlist-info {
    float: left;
  }
  .block-wishlist-management .wishlist-toolbar {
    float: right;
  }
  .block-wishlist-info-items .product-item-photo {
    margin-left: 0;
  }
  .products-grid.wishlist .product-item-checkbox {
    float: left;
  }
  .products-grid.wishlist .product-item-checkbox + .product-item-name {
    margin-left: 25px;
  }
  .block.newsletter {
    max-width: 44%;
    width: max-content;
  }
  .block.newsletter .field {
    margin-right: 5px;
  }
  .block.newsletter .field .control {
    width: 100%;
  }
  .block.newsletter .action.subscribe {
    border-radius: 3px;
  }
  .paypal-review .paypal-review-title {
    border-bottom: 1px solid #d1d1d1;
  }
  .paypal-review .block-content .box-order-shipping-address,
  .paypal-review .block-content .box-order-shipping-method,
  .paypal-review .block-content .box-order-shipping-method + .box-order-billing-address {
    box-sizing: border-box;
    float: left;
    width: 33%;
  }
  .paypal-review .block-content .box-order-shipping-address {
    padding: 0 5%;
    width: 34%;
  }
  .paypal-review .col.subtotal,
  .paypal-review .mark,
  .paypal-review .amount {
    text-align: right;
  }
  .products.wrapper.list .product-reviews-summary {
    margin: 0;
  }
  .reward-settings + .actions-toolbar {
    margin-top: -32px;
  }
  .form-create-return .additional .field:last-child {
    margin-top: 29px;
  }
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box {
    margin-bottom: 20px;
  }
  .block-returns-tracking .block-title .action {
    margin: 0 0 0 30px;
  }
  .block-returns-tracking .block-title .actions-track {
    float: right;
    margin-top: 12px;
  }
  .table-order-items .subtotal,
  .table-order-items .amount {
    text-align: right;
  }
  .table-order-items.creditmemo .col.qty,
  .table-order-items.creditmemo .col.discount,
  .table-order-items.creditmemo .col.subtotal {
    text-align: center;
  }
  .table-order-items.creditmemo .col.total {
    text-align: right;
  }
  .order-pager-wrapper .order-pager-wrapper-top {
    padding-left: 0;
    padding-right: 0;
  }
  .order-pager-wrapper .pages {
    float: right;
  }
  .order-actions-toolbar .action.print {
    display: block;
    float: right;
  }
  .page-title-wrapper .order-date {
    margin-top: -20px;
  }
  [class^='sales-guest-'] .column.main .block:not(.widget) .block-content .box,
  .sales-guest-view .column.main .block:not(.widget) .block-content .box {
    margin-bottom: 20px;
  }
  .page-wrapper > .breadcrumbs,
  .page-wrapper > .top-container,
  .page-wrapper > .widget {
    box-sizing: border-box;
    width: 100%;
  }
  .navigation ul {
    padding: 0 8px;
  }
  .header.panel > .header.links {
    float: right;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none none;
    margin-left: auto;
  }
  .header.panel > .header.links > li {
    display: inline-block;
    vertical-align: top;
  }
  .header.panel > .header.links > li {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
  .header.panel > .header.links > li.welcome,
  .header.panel > .header.links > li a {
    line-height: 1.4;
  }
  .header.panel > .header.links > li.welcome a {
    padding-left: 5px;
  }
  .header.content {
    padding: 30px 20px 0;
  }
  .page-header {
    border: 0;
    margin-bottom: 0;
  }
  .page-header .panel.wrapper {
    border-bottom: 1px solid #e8e8e8;
  }
  .page-header .header.panel {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .page-header .switcher {
    display: inline-block;
  }
  .page-main > .page-title-wrapper .page-title {
    display: inline-block;
  }
  .page-main > .page-title-wrapper .page-title + .action {
    float: right;
    margin-top: 20px;
  }
  .logo {
    margin: -8px auto 25px 0;
  }
  .logo img {
    max-height: inherit;
  }
  .footer.content .block {
    float: right;
  }
  .footer.content .links {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 50px 0 0;
    vertical-align: top;
  }
  .footer.content .switcher.store {
    display: inline-block;
    padding-right: 50px;
    vertical-align: top;
  }
  .my-credit-cards .card-type img {
    display: block;
  }
  .products-grid.wishlist .product-item-tooltip {
    display: inline-block;
  }
  .products-grid.wishlist .product-item-actions {
    margin: 10px 0 0;
  }
  .products-grid.wishlist .product-item .fieldset .field.qty {
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .products-grid.wishlist .product-item .fieldset .field.qty .label {
    width: auto;
  }
  .products-grid.wishlist .product-item .box-tocart .actions-primary {
    margin: 0;
  }
  .products-grid.wishlist .product-item .box-tocart .stock {
    margin: 20px 0 0;
  }
  .wishlist-index-index .product-item-info {
    width: 240px;
  }
  .block.widget .products-grid .product-item {
    width: 33.33333333%;
  }
  .sidebar .block.widget .products-grid .product-item {
    margin-left: 0;
    width: 100%;
  }
  .sidebar .block.widget .products-grid .product-item .actions-secondary {
    display: block;
    padding: 10px 0;
  }
  .page-layout-1column .block.widget .products-grid .product-item {
    margin-left: 2%;
    width: calc((100% - 6%)/4);
  }
  .page-layout-1column .block.widget .products-grid .product-item:nth-child(3n + 1) {
    margin-left: 2%;
  }
  .page-layout-1column .block.widget .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }
  .page-layout-3columns .block.widget .products-grid .product-item {
    width: 50%;
  }
  .sidebar .block.widget .pager .pages-item-next {
    padding: 0;
  }
  .sidebar .block.widget .pager .pages-item-next .action {
    margin: 0;
  }
}
@media all and (min-width: 1024px), print {
  .products-grid .product-item {
    width: 20%;
  }
  .page-layout-1column .products-grid .product-item {
    width: 16.66666667%;
  }
  .page-layout-3columns .products-grid .product-item {
    width: 25%;
  }
  .page-products .products-grid .product-items {
    margin: 0;
  }
  .page-products .products-grid .product-item {
    margin-left: 2%;
    padding: 0;
    width: calc((100% - 6%) / 4);
  }
  .page-products .products-grid .product-item:nth-child(3n + 1) {
    margin-left: 2%;
  }
  .page-products .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }
  .page-products.page-layout-1column .products-grid .product-item {
    margin-left: 0;
    width: 20%;
  }
  .page-products.page-layout-3columns .products-grid .product-item {
    margin-left: 1%;
    width: 32.667%;
  }
  .page-products.page-layout-3columns .products-grid .product-item:nth-child(3n) {
    margin-left: 1%;
  }
  .page-products.page-layout-3columns .products-grid .product-item:nth-child(3n + 1) {
    margin-left: 0;
  }
  .checkout-index-index .modal-popup .modal-inner-wrap {
    margin-left: -400px;
    width: 800px;
    left: 50%;
  }
  .opc-wrapper .shipping-address-item {
    width: 33.33333333%;
  }
  .opc-wrapper .shipping-address-item:before {
    background: #cccccc;
    height: calc(100% - 20px);
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }
  .opc-wrapper .shipping-address-item:nth-child(3n + 1):before {
    display: none;
  }
  .opc-wrapper .shipping-address-item.selected-item:before {
    display: none;
  }
  .opc-wrapper .shipping-address-item.selected-item + .shipping-address-item:before {
    display: none;
  }
  .table-checkout-shipping-method {
    min-width: 500px;
  }
  .wishlist-index-index .products-grid .product-items {
    margin: 0;
  }
  .wishlist-index-index .products-grid .product-item {
    margin-left: calc((100% - 4 * 24.439%) / 3);
    padding: 0;
    width: 24.439%;
  }
  .wishlist-index-index .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }
  .block.widget .products-grid .product-item {
    width: 20%;
  }
  .page-layout-1column .block.widget .products-grid .product-item {
    margin-left: 2%;
    width: calc((100% - 8%)/5);
  }
  .page-layout-1column .block.widget .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 2%;
  }
  .page-layout-1column .block.widget .products-grid .product-item:nth-child(5n + 1) {
    margin-left: 0;
  }
  .page-layout-3columns .block.widget .products-grid .product-item {
    width: 25%;
  }
  .block.widget .products-grid .product-items {
    margin: 0;
  }
  .block.widget .products-grid .product-item {
    margin-left: calc((100% - 4 * 24.439%) / 3);
    padding: 0;
    width: 24.439%;
  }
  .block.widget .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }
}
@media all and (min-width: 1440px), print {
  .sidebar .product-items .product-item-info .product-item-photo {
    float: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
  }
  .sidebar .product-items .product-item-details {
    margin-left: 85px;
  }
}
