<?php
/**
 * @author Solar Team
 * @copyright Copyright (c) 2020 Solar (https://www.solar.com)
 * @package Solar_Base
 */
?>
<?php
/** @var \Solar\Base\Block\Adminhtml\Messages $block */
$messages = $block->getMessages();
?>
<?php if (!empty($messages)): ?>
    <?php foreach ($messages as $message): ?>
        <div class="messages ambase-unsubscribe">
            <div class="message message-success success">
                <div data-ui-id="messages-message-success"><?= /* @noEscape */ $message;?></div>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>
