<?php
/**
 * @author Solar Team
 * @copyright Copyright (c) 2020 Solar (https://www.solar.com)
 * @package Solar_Base
 */
?>
<?php
/** @var \Solar\Base\Block\Search $block */
?>
<div class="ambase-search-container">
    <div class="ambase-title"><?= $block->escapeHtml(__('Discover the functionality to level-up your store'))?></div>
    <div class="ambase-wrapper">
        <input id="solar-search-input"
               class="ambase-input"
               type="search"
               onkeypress="solarSearch.submit(event)"
               placeholder="<?= $block->escapeHtml(__('What is your challenge? e.g. Site Speed, Search...'))?>" />
        <button class="ambase-button" type="button" onclick="solarSearch.submit(event)">
            <?= $block->escapeHtml(__('Search')) ?>
        </button>
    </div>
</div>
<script type="text/javascript">
    var solarSearch = {
        submit: function (event) {
            if (event instanceof KeyboardEvent && event.keyCode !== 13) {
                return false;
            }
            event.preventDefault();
            var searchValue = document.getElementById('solar-search-input').value,
                url = '<?= $block->escapeUrl($block->getSearchBaseUrl()) ?>'.replace(/&amp;/g, "&")
                    .replace(/&lt;/g, "<").replace(/&gt;/g, ">");

            if (searchValue) {
                searchValue = encodeURIComponent(searchValue);
                url += searchValue + '<?= $block->escapeUrl($block->getSearchUrlParams()) ?>'
                    .replace(/&amp;/g, "&").replace(/&lt;/g, "<").replace(/&gt;/g, ">");
            }
            window.open(url);

            document.getElementById('solar-search-input').value = '';

            return false;
        }
    }
</script>
