/*custom css for home*/



/*==============================
COMMON
==================================*/
body {
overflow-x: hidden;
}
.page-wrapper {
border-top: 13px solid #fdefee !important;
}

.main.container {
padding-top: 0 !important;
padding-bottom: 0;
}

/*==============================
HEADER
==================================*/
.header-primary-container {
background-color: #fefafa;
}
.nav-container.skip-content.sticky-container {
background-color: #ceb2b1;
padding: 7px 0;
}

.navi-wrapper, .nav-regular {
background-color: transparent !important;
}

.nav-border-bottom {
display: none;
}

.vertnav-trigger, .nav-regular .nav-item.level0 > a, .nav-holder .dropdown-block .dropdown-heading {
font-size: 18px;
color: #000;
font-weight: 600;
}

.nav-regular li.level0>a .caret {
opacity: 0;
}
form#search_mini_form {
width: 90%;
float: right;
max-width: 350px;
}
.header-regular .block-search .input-text {
background-color: #93888b !important;
font-size: 16px;
}
.vertnav-trigger, .nav-regular .nav-item.level0 > a:hover,
.nav-holder .dropdown-block .dropdown-heading:hover {
background-color: #000 !important;
}
.header-regular .block-search .input-text::-webkit-input-placeholder { / Edge /
color: #ffffff;
}

.header-regular .block-search .input-text:-ms-input-placeholder { / Internet Explorer 10-11 /
color: #ffffff;
}

.header-regular .block-search .input-text::placeholder {
color: #ffffff;
}
.block-search .action.search.disabled, .block-search .action.search[disabled], fieldset[disabled] .block-search .action.search {
opacity: 1 !important;
}
.header-regular .block-search .input-text, .header-regular .block-search .action.search .icon, .header-regular .block-search.expanding .input-text {
color: #fff !important;
}
.hp-block.left-column #header-account ul li:first-child a,
.hp-block.left-column #header-account ul li:nth-child(2) a {
font-size: 0;
width: 30px;
background-position: center;
}
.hp-block.left-column #header-account ul li:first-child a {
background-image: url(/pub/media/wysiwyg/account-icon.png);
}
.hp-block.left-column #header-account ul li.link.wishlist a {
background-image: url(/pub/media/wysiwyg/wishlist-icon.png);
}
.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading {
width: 30px;
background-position: center;
background-image: url(/pub/media/wysiwyg/sell-icon.png);
background-repeat: no-repeat;
}
.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading span.icon.ic.ic-cart,
.hp-block.left-column #header-account ul .minicart-wrapper span.inner-heading span.caret:before {
display: none;
}
.hp-block.left-column #header-account ul .minicart-wrapper span.label {
display: none;
}
.links-wrapper-separators-left .links>li>* {
background-image: none;
}
.hp-block.left-column #header-account ul li a:hover {
background-color: #000;
}
/*==============================
SLIDER BANNER
==================================*/
.slideshow-wrapper-additional {
position: relative;
left: 50%;
width: 100vw;
margin-left: -50vw;
}
.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-prev, .slider-arrows2 .owl-controls.clickable .owl-buttons .owl-next {
background-color: #000;
}

.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-prev:before, .slider-arrows2 .owl-controls.clickable .owl-buttons .owl-next:before {
color: #fff;
}
.slideshow-wrapper .owl-wrapper .item img {
width: 100%;
height: 650px;
object-fit: cover;
object-position: center;
image-rendering: pixelated;
}
.slideshow-wrapper .owl-controls .owl-buttons div, .slideshow-wrapper.slider-pagination1 .owl-controls .owl-page span, .slideshow-wrapper.slider-pagination2 .owl-controls .owl-page span, .slideshow-wrapper.slider-pagination2 .owl-controls .owl-page.active span, .slideshow-wrapper.slider-pagination2 .owl-controls.clickable .owl-page.active:hover span {
background-color: #000 !important;
}

/*==============================
FOOTER
==================================*/
.footer-bottom-container.section-container {
background-color: #151515;
}

.footer-bottom-container.section-container img {
filter: grayscale(1);
width: 140px;
}
.footer-bottom-container.section-container small.copyright {
font-size: 14px;
}
.footer-container.page-footer {
background-color: #fff;
font-family: Bitter;
}
.footer-container > div.footer-container2 {
background-image: none;
}
h6.block-title.heading {
color: #722926;
font-size: 24px;
margin-bottom: 20px;
}
.footer-container.page-footer p, .footer-container.page-footer a {
font-size: 16px;
line-height: 30px;
}
.footer-container.page-footer ul.bullet li {
background-position: -5px 6px;
}
.footer-primary.footer.container .std {
display: flex;
}
.footer-primary.footer.container .std > div:first-child {
box-sizing: border-box;
padding-right: 30px;
}
.footer-primary.footer.container .std > div:last-child {
display: flex;
align-items: center;
box-sizing: border-box;
padding-left: 50px;
}
.footer-container.page-footer .social-links a span {
background-color: #fff;
border: 1px solid #ccc;
border-radius: 50%;
margin-right: 10px;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.footer-container.page-footer .social-links a span:before {
color: #ccc;
font-size: 16px;
display: block;
}

.footer-container.page-footer .social-links {
display: flex;
margin-top: 20px;
}


/*==============================
RESPONSIVE
==================================*/
@media (min-width:1560px) {
.container {
width: 1500px;
max-width: 1500px !important;
}
}

/*===================2602========================*/


.block.itemslider .block-title {
text-align: center;
margin: 0;
padding: 0;
}

.block.itemslider .block-title strong {
font-size: 50px;
font-weight: 600;
text-transform: uppercase;
display: block;
margin: 70px 0;
color: #000;
}
.home_popular .product-item-info .product-item-img img {
width: 100%;
height: 360px;
object-fit: cover;
margin: 0;
}

.home_popular .product-item-info .product-item-img {
background-color: #eee;
height: auto;
min-height: auto;
box-shadow: 0px 0px 3px #ccc;
}

.home_popular .product-item-info .product-item-img a {
padding: 0;
width: 100%;
max-width: 100% !important;
margin: 0;
}

.home_popular .owl-item .item {
padding: 5px;
}
.home_popular .product-item-info .product-item-details .product-item-link {
font-size: 13px;
font-weight: 600;
line-height: 20px;
}
.home_popular .product-item-info .product-item-img .actions-secondary,
.home_popular .product-item-info .product-item-details .product-reviews-summary,
.home_popular .product-item-info .product-item-details .price-box,
.home_popular .product-item-info .product-item-details .product-item-actions,
.home_popular .product-item-info span.sticker-wrapper.top-left {
display: none;
}
.home_popular .owl-controls .owl-buttons {
top: 150px;
right: 0px;
left: 5px;
width: calc(100% - 10px);
}
.home_popular .owl-controls .owl-buttons > div {
background-color: rgba(255, 255, 255, 0.8);
width: 35px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 0px 10px #8c8c8c;
}

.home_popular .owl-controls .owl-buttons > div:before {
font-size: 40px;
color: #777;
}

.home_popular .owl-controls .owl-buttons > div.owl-next {
right: 0;
float: right;
}
.home_popular .owl-controls .owl-buttons > div:hover:before {
color: #fff;
}
/*=============================
COUNT DOWN HOME PAGE
================================*/
.countDown_main {
background-color: #f8f8f8;
padding: 40px 0;
margin-top: 40px;
}
.count_data {
display: flex;
align-items: center;
}
.count_data > div {
flex: 0 0 50%;
}
.count_data .CD_dataLeft h2 {
font-size: 35px;
font-weight: 100;
color: #000;
}
.count_data .CD_dataLeft .CD_itemName {
font-size: 20px;
margin-bottom: 0px;
text-transform: uppercase;
}
.CD_price {
margin-top: 50px;
}
.CD_pricers {
font-size: 14px;
padding: 10px 25px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 30px;
margin-right: 5px;
font-weight: 600;
}
.CD_pricers.CD_pricersSelected {
background-color: #f33c3c;
color: #fff;
border-color: #f33c3c;
}
.CD_pricers:last-child {
position: relative;
}
.CD_pricers:last-child:after {content: "";width: 60px;height: 1px;background-color: #f33c3c;position: absolute;left: 21px;transform: rotate(6deg);top: 19px;}
.CD_time {
margin-top: 25px;
}
.CD_time ul {
margin: 0;
padding: 0;
}
.CD_time ul li {
display: inline-block;
margin-right: 30px;
text-align: center;
font-size: 11px;
font-weight: 900;
color: #000;
letter-spacing: 1px;
}
.CD_time ul li span {
width: 52px;
height: 52px;
background-color: #fff;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 15px;
font-size: 22px;
box-shadow: 1px 3px 15px #e2e2e2;
font-weight: 600;
}
.count_dataRight a {
float: left;
}
.count_dataRight a img {
width: 100%;
height: 430px;
object-fit: cover;
}
.CD_more .CD_moreItems {
display: inline-block;
}
.CD_more ul {
margin: 0;
padding: 0;
display: flex;
}
.CD_more .CD_moreItems a {
border: 1px solid transparent;
}
.countDown_main > div {
align-items: center;
display: flex;
}
.CD_more .CD_moreItems a:hover, .CD_more .CD_moreItems a:focus{
box-shadow: 1px 3px 15px #e2e2e2;
}

/*=============================
HOMEPAGE SLIDER BOTTOM CATEGORY
================================*/
.sliderbottom_categoryUL {
padding: 0;
margin: 0;
width: 100%;
display: flex;
}

.sliderbottom_categoryUL li {
padding: 15px;
}
.sliderbottom_categoryUL li a h5 {
position: absolute;
top: 0;
width: 100%;
background-color: rgba(148, 68, 72, .68);
color: #fff;
font-size: 20px;
text-align: center;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
top: calc(60% - 25px);
margin: 0;
text-transform: uppercase;
z-index: 2;
}
.sliderbottom_categoryUL li a:hover h5 {
background-color: rgba(0, 0, 0, 0.68);
}
/*=============================
SUBSCRIPTION SECTION
================================*/
.subscribe_LR a, .sliderbottom_categoryUL li a, .CD_more .CD_moreItems a, .home_page_content_pro a {
position: relative;
float: left;
width: 100%;
overflow: hidden;
}
.subscribe_LR img, .sliderbottom_categoryUL li a img,
.CD_more .CD_moreItems a img{
width: 100%;
height: 270px;
object-fit: cover;
}
.CD_more .CD_moreItems a img {
height: 180px;
transform: scale(.9);
}

.subscribe_LR a:after, .sliderbottom_categoryUL li a:after, .home_page_content_pro a:after {
content: "";
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
outline: 2px solid #fff;
}

.subscribe_LR a:hover:after, .sliderbottom_categoryUL li a:hover:after,
.home_page_content_pro a:hover:after {
outline: 2px solid #fff;
outline-offset: -15px;
background-color: rgba(0, 0, 0, 0.2);
}
.subscribe_LR a:hover img, .sliderbottom_categoryUL li a:hover img,
.home_page_content_pro a:hover img {
transform: scale(1.1);
}
.CD_more .CD_moreItems a:hover img, .CD_more .CD_moreItems a:focus img {
transform: scale(1.25);
}

.subscribe_center {
background-image: url('/pub/media/wysiwyg/subscription-bg.jpg');
}
.block_con_buttom > div {
display: flex;
height: 100%;
}
.block_con_buttom > div > div > div {
height: 100%;
}
.subscribe_center {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.subscribe_center h4 {
font-size: 25px;
text-transform: uppercase;
font-weight: 500;
color: #2f2f2f;
}
.subscribe_center h4 span {
color: #5b77d8;
}
.subscribe_center h3 {
font-weight: 900;
color: #000;
font-size: 26px;
text-transform: uppercase;
}
.subscribe_center p {
max-width: 70%;
margin: 0 auto;
text-align: center;
color: #444;
line-height: 24px;
}
.subscribe_FormMain {
margin-top: 15px;
width: 500px;
text-align: center;
max-width: 100%;
}
.subscribe_FormMain > div.block.newsletter {
width: 100%;
}
.subscribe_FormMain form.form {
border: 1px solid #cacaca;
border-radius: 30px;
}
.subscribe_FormMain form.form .control input {
border-radius: 30px 0 0 30px;
}
.subscribe_FormMain form.form .field.newsletter {
margin-right: 0;
}
.subscribe_FormMain form.form .control input {}

.block.newsletter .form.subscribe .actions button {
border-radius: 0 30px 30px 0;
background-color: #5b77d8;
color: #fff;
border: 0;
float: right;
}
.block.newsletter .form.subscribe .actions button:hover {
background-color: #000;
}

/*=============================
FOOTER TOP FREE SHIPPING SECTION
================================*/
.footer-top-container {
background-color: #f5f5f5 !important;
padding: 50px 0;
display: none;
}
.cms-ultimo-home-page-01 .footer-top-container {
display: block;
}
.footer_above_content .grid12-3 {
margin-top: 20px;
margin-bottom: 20px;
}
.topStrip_box {
display: flex;
align-items: center;
}
.topStrip_box .topStrip_boxLeft {
margin-right: 15px;
}
.footer_above_content .grid12-3:nth-child(2) .topStrip_box .topStrip_boxLeft img,
.footer_above_content .grid12-3:nth-child(4) .topStrip_box .topStrip_boxLeft img{
width: 70px;
}
.topStrip_box .topStrip_boxLeft img {
width: 80px;
opacity: .5;
}
.topStrip_box .topStrip_boxRight .topStrip_heading {
margin-bottom: 5px;
text-transform: uppercase;
font-weight: 900;
}
.topStrip_box .topStrip_boxRight .topStrip_Con {
margin-bottom: 0;
color: #808080;
line-height: initial;
}
.topStrip_box:hover img {
transform: scale(1.2);
opacity: 1;
}

.topStrip_box img {
transition: ease 0.5s all;
}

.topStrip_box:hover .topStrip_heading {
color: #722926;
}




/*/ COMMON /*/
.font_openSans,
.topStrip_box .topStrip_boxRight .topStrip_Con,
.topStrip_box .topStrip_boxRight .topStrip_heading,
.subscribe_center h4, .subscribe_center h3, .subscribe_center p,
.count_data .CD_dataLeft h2 {
font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.transition_time, .subscribe_LR img, .subscribe_LR a, .subscribe_LR a:after,
.block.newsletter .form.subscribe .actions button, .sliderbottom_categoryUL li a h5,
.sliderbottom_categoryUL li a:after, .sliderbottom_categoryUL li a img, .CD_more .CD_moreItems a, .CD_more .CD_moreItems a img, .home_page_content_pro a:after, .home_page_content_pro a img, .topStrip_box img {
transition: ease 0.5s all;
}
.countDown_main, .home_page_content_pro {
position: relative;
left: 50%;
width: 100vw;
margin-left: -50vw;
}


@media only screen and (max-width: 769px) {

.header-container .currency-switcher.currency-switcher-mobile .dropdown-heading .label {
display: inline !important;
}

.header-m-container .inner-container {
display: flex;
justify-content: space-between;
align-items: center;
}
.header-container .header-m-container .item-right {
display: flex;
align-items: center;
}
}

/*/ transition / font / vw SECTION /