<?php

/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsMarketplace
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */
 
?>
<?php 
	$helper = $this->helper('Ced\CsMarketplace\Helper\Tool\Image');
	// Vendor Logo 
	/*$width = (int)$helper->getStoreConfig('ced_vshops/general/banner_image_width', $this->getCurrentStoreId());
	$height = (int)$helper->getStoreConfig('ced_vshops/general/banner_image_height', $this->getCurrentStoreId());
	$width = $width ? $width : 1000;
	$height = $height ? $height : 300;*/
	/*in new customization set the default w n h ration 10:3, and removed this from admin*/
    $width = 1000;
	$height = 300;
?>
<?php if ($this->helper('Ced\CsMarketplace\Helper\Acl')->isEnabled()) { ?>
	<div class="category-products">
    <ul class="products-list" id="products-list" style="list-style: none">
        <li>
            <a>
             	<img id="product-collection-image-1" alt="Company Banner" height="100%" width="100%" 
		          src="<?php echo $helper->getResizeImage($this->getVendorBanner(), 'banner', $width, $height,false,false); ?>" />
            </a>
        </li>
     </ul>
   </div>
<?php } ?>