<?php

/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsMarketplace
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */

?>
<?php
$vendors = $block->getLoadedVendorCollection();
$helper = $this->helper('Ced\CsMarketplace\Helper\Tool\Image');

$title = $helper->getStoreConfig('ced_vshops/general/vshoppage_title', $this->getCurrentStoreId()) ? $helper->getStoreConfig('ced_vshops/general/vshoppage_top_title', $this->getCurrentStoreId()) : "CsMarketplace";
/*$width = (int)$helper->getStoreConfig('ced_vshops/general/vshoppage_banner_image_width', $this->getCurrentStoreId());
$height = (int)$helper->getStoreConfig('ced_vshops/general/vshoppage_banner_image_height', $this->getCurrentStoreId());
$width = $width ? $width : 800;
$height = $height ? $height : 200;*/
$width = 1000;
$height = 300;
$img = $helper->getStoreConfig("ced_vshops/general/vshoppage_banner", $this->getCurrentStoreId()) ? "ced/csmarketplace/".$helper->getStoreConfig("ced_vshops/general/vshoppage_banner", $this->getCurrentStoreId()) : '';

?>
<?php if ($this->helper('Ced\CsMarketplace\Helper\Acl')->isEnabled()) { ?>
    <div style="text-align:center;" class="page-title category-title">
        <h1><?php echo $title ?></h1>
    </div>
    <p class="category-image">
        <img id="product-collection-image-1" alt="CsMarketplace Banner" height="100%" width="100%" 
                 src="<?php echo $helper->getResizeImage($img, 'csbanner', $width, $height); ?>" />
    </p>
    <div class="category-description std">
        <?php echo $helper->getStoreConfig('ced_vshops/general/vshoppage_about',$this->getCurrentStoreId()); ?>
    </div>
    <?php if(!$vendors->count()): ?>
        <div class="remove_vendors_wrap">
            <p class="note-msg"><?php echo __('Sorry!! No vendor available.'); ?></p>
            <span class="currently_search">
    			<a class="remove" href="<?php echo $this->getUrl('csmarketplace/vshops/index') ?>">
    				<?php echo __('X');?>
    			</a>
    		</span>
            <div class="cleared"/></div>
        </div>
    <?php else: ?>
        <div class="vendor_list_page">
            <div class="search_vendor" style="float: left;">
			<span>
				<?php echo $this->getChildHtml('country_filter'); ?>
			</span>
            </div>
            <div class="category-products">
                <div>
                    <?php echo $this->getToolbarHtml(); ?>
                    <?php // List mode ?>
                    <?php if($this->getMode()!='grid'): ?>

                    <?php 
                        $_iterator = 0; 
                        $width = (int)$helper->getStoreConfig('ced_vshops/general/list_image_width', $this->getCurrentStoreId());
                        $height = (int)$helper->getStoreConfig('ced_vshops/general/list_image_height', $this->getCurrentStoreId());
                        $width = $width ? $width : 135;
                        $height = $height ? $height : 135;
                    ?>
                        <ul class="products-list csmarketplace-vendors-list" id="csmarketplace-vendors-list">
                            <?php foreach ($vendors as $vendor): ?>
                                <?php if(!$helper->canShow($vendor)) continue; ?>
                                <li class="item<?php if( ++$_iterator == sizeof($vendors) ): ?> last<?php endif; ?>">
                                    <a href="<?php echo $vendor->getVendorShopUrl() ?>" title="<?php echo $this->stripTags($vendor->getPublicName(), null, true) ?>" class="product-image vendor-logo-image"><img src="<?php echo $helper->getResizeImage($vendor->getData('company_logo'), 'logo', $width, $height); ?>" alt="<?php echo $this->stripTags($vendor->getPublicName(), null, true) ?>" /></a>
                                    <div class="product-shop">
                                        <div class="f-fix">
                                            <div class="product-primary">
                                                <?php $vendorNameStripped = $this->stripTags($vendor->getName(), null, true); ?>
                                                <h2 class="product-name">
                                                    <a href="<?php echo $vendor->getVendorShopUrl() ?>" title="<?php echo __('Go to Shop') ?>">
                                                        <?php echo $vendor->getPublicName(); ?>
                                                    </a>
                                                </h2>
                                                <?php echo $this->getReviewsSummaryHtml($vendor) ?>
                                            </div>
                                            <div class="desc std">
                                                <div><?php echo $vendor->getAbout(); ?></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                        <script type="text/javascript">decorateList('csmarketplace-vendors-list', 'none-recursive')</script>
                    <?php else: ?>
                    <?php // Grid Mode ?>
                    <?php $_collectionSize = $vendors->count(); ?>
                    <?php $_columnCount = $this->getColumnCount(); ?>
                    <?php
                    // Vendor Logo
                    $width = (int)$helper->getStoreConfig('ced_vshops/general/grid_image_width', $this->getCurrentStoreId());
                    $height = (int)$helper->getStoreConfig('ced_vshops/general/grid_image_height', $this->getCurrentStoreId());
                    $width = $width ? $width : 135;
                    $height = $height ? $height : 135;
                    ?>
                    <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col csmarketplace-vendors-grid">
                    <?php $i=0; foreach ($vendors as $vendor): ?>
                    <?php if(!$helper->canShow($vendor)) continue; ?>
                    <?php $vendorNameStripped = $this->stripTags($vendor->getName(), null, true); ?>
                    <?php $i++; ?>
                        <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                            <div class="shop_grid_list_wrap">
                                <?php if ($vendor->getData('company_logo')) { ?>
                                    <a href="<?php echo $vendor->getVendorShopUrl() ?>" title="<?php echo $this->stripTags($vendor->getPublicName(), null, true) ?>" class="product-image vendor-logo-image"><img src="<?php echo $helper->getResizeImage($vendor->getData('company_logo'), 'logo', $width, $height); ?>" alt="<?php echo $this->stripTags($vendor->getPublicName(), null, true) ?>" /></a>
                                <?php } else { ?>
                                    <a href="<?php echo $vendor->getVendorShopUrl() ?>" title="<?php echo $this->stripTags($vendor->getPublicName(), null, true) ?>" class="product-image vendor-logo-image"><img src="<?php echo $helper->getResizeImage($vendor->getData('company_logo'), 'logo', $width, $height); ?>" alt="<?php echo $this->stripTags($vendor->getPublicName(), null, true) ?>" /></a>
                                <?php } ?>
                                <h2 class="product-name csmarketplace-vendor-name">
                                    <a href="<?php echo $vendor->getVendorShopUrl() ?>" title="<?php echo __('Go to Shop') ?>">
                                        <?php echo $vendor->getPublicName() ?>
                                    </a>
                                </h2>
                                <?php echo $this->getReviewsSummaryHtml($vendor) ?>
                            </div>
                        </li>
                    <?php endforeach ?>
                    <?php endif ?>
                    </ul>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="page_limiter">
                <?php echo $block->getCustomPagerHtml() ?>
            </div>
        </div>
    <?php endif; ?>
<?php } ?>
