<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart $block */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
$giftCardHelper = $objectManager->create('Magedelight\Giftcard\Helper\Data');

$productData = $block->getProductItem()->getData();
$giftCardBalance = $productData['giftcard_balance'];
if ($block->getProductItem()->getCustomOption('additional_options') !== null) {
    $customOptions = $block->getProductItem()->getCustomOption('additional_options')->debug();

    $additionalOptions = $giftCardHelper->unserializeData($customOptions['value']);
    foreach ($additionalOptions as $aps) {
        if ($aps['label'] == 'Price') {
            $giftCardBalance = $aps['value'];
            $block->getProductItem()->setGiftcardBalance($aps['value']);
        }
    }
}

if ($productData['type_id'] == 'giftcard') {
    if ($productData['giftcard_price_type'] == 1) {
        ?>
            <div class="price-box price-configured_price" data-role="priceBox" data-product-id="<?php echo $productData['entity_id'];?>" data-price-box="product-id-<?php echo $productData['entity_id'];?>">        <p class="price-as-configured">
                    <span class="price-container price-configured_price tax weee">
                    <span id="product-price-<?php echo $productData['entity_id'];?>" data-price-amount="<?php echo $productData['giftcard_balance']; ?>" data-price-type="finalPrice" class="price-wrapper "><span class="price"><?php echo $priceHelper->currency($productData['giftcard_balance'], true, false); ?></span></span>
                    </span>
                </p>
            </div>
            <?php
         
    } else {
        ?>
                 <div class="price-box price-configured_price" data-role="priceBox" data-product-id="<?php echo $productData['entity_id'];?>" data-price-box="product-id-<?php echo $productData['entity_id'];?>"><p class="price-as-configured">      

                <span class="price-container price-configured_price tax weee">
                        <span id="product-price-<?php echo $productData['entity_id'];?>" data-price-amount="<?php echo $productData['giftcard_price_min']; ?>" data-price-type="finalPrice" class="price-wrapper ">
                            <div class="price-box">
                                <?php if ($giftCardBalance == 0) { ?>
                                        <span class="price-label">From</span>
                                        <span class="price" id="min-product-price-2048">
                                            <?php echo $priceHelper->currency($productData['giftcard_price_min'], true, false); ?>
                                        </span>
                                        <span class="price-label">To</span>
                                        <span class="price" id="min-product-price-2048">
                                            <?php echo $priceHelper->currency($productData['giftcard_price_max'], true, false); ?>
                                        </span>
                                    <?php } else { ?>
                                        <span class="price"><?php echo $priceHelper->currency($giftCardBalance, true, false); ?></span>
                                    <?php } ?>
                            </div>
                        </span>
                  </span>
                  </p>
                </div>
             <?php
    }
    foreach ($block->getChildNames() as $childName): ?>
            <?php if ($childName == "customer.wishlist.item.options") { ?>
                <?= /* @noEscape */ $block->getLayout()->renderElement($childName, false) ?>    
            <?php }
            
         endforeach;
} else {

    foreach ($block->getChildNames() as $childName): ?>
            <?= /* @noEscape */ $block->getLayout()->renderElement($childName, false) ?>
           <?php
          endforeach;
}