<!--@subject {{var form_name}} form reply from {{var store_name}} @-->
<!--@vars {
"var form_name":"Form Name",
"var customer_name":"Sender Name",
"var message":"Message from Admin",
"var answer":"Answer Model"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td valign="top">
            <p><strong>Hello {{var customer_name}},</strong></p>
            <p>{{var message}}</p>
            <p>{{trans "Thank you"}},  Canvasbutik</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}


