<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Files.LineLength
?>
<strong class="product name product-item-name"><a href="<?= $block->escapeUrl($block->getProductUrl()) ?>"><?= $block->escapeHtml($block->getProductName()) ?></a></strong>
<?php if ($_options = $block->getOptionList()): ?>
    <dl class="item-options">
        <?php foreach ($_options as $_option): ?>
            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
            <dt><?= $block->escapeHtml($_option['label']) ?></dt>
            <?php if ($block->escapeHtml($_option['label']) == 'Selected Template'): ?>
                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                    <dd><?= ($_formatedOptionValue['full_view']) ?></dd>
                <?php else: ?>
                    <dd><?= ($_formatedOptionValue['value']) ?></dd>
                <?php endif; ?>
            <?php else: ?>
                <dd<?= (isset($_formatedOptionValue['full_view']) ? ' class="tooltip wrapper"' : '') ?>>
                <?= $block->escapeHtml($_formatedOptionValue['value'], ['span']) ?>
                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                    <dl class="item options tooltip content">
                        <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                        <dd><?= $block->escapeHtml($_formatedOptionValue['full_view'], ['span']) ?></dd>
                    </dl>
                <?php endif; ?>
            </dd>
            <?php endif; ?>
            
        <?php endforeach; ?>
    </dl>
<?php endif; ?>
<?php if ($addtInfoBlock = $block->getProductAdditionalInformationBlock()): ?>
    <?= $addtInfoBlock->setItem($block->getItem())->toHtml() ?>
<?php endif; ?>
