<?php

/**

 * @var \Infortis\Base\Block\Html\Header $block

 */

?>

<?php

    $theme = $block->getHelperTheme();

    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
    $storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $localeResolver  = $objectManager->get('\Magento\Framework\Locale\Resolver');
    $currentLocaleCode = $localeResolver->getLocale();
    // //Get HTML of header blocks

    // $storeSwitcherHtml = $block->getChildHtml('store_switcher');

    // $copyrightHtml = $block->getChildHtml('copyright');

    // $footerLinksHtml = $block->getChildHtml('footer_links');

    // $cmsFooterLinksContainerHtml = $block->getChildHtml('cms_footer_links_container');

    // $newsletterHtml = $block->getChildHtml('subscribe');

    // $magentoDefaultFooterContainerHtml = $block->getChildHtml('footer');

?>

<div class="footer-container page-footer">

<div class="footer-container2">

<div class="footer-container3">



    <?php

        $b = array();

        if ($theme->getCfg('footer/footer_links') && $tmp = $block->getChildHtml('footer_links'))

        {

            $b['top']['footer_links'] = $tmp;

        }

        //Custom footer links - override default Magento footer links

        if ($tmp = $block->getChildHtml('block_footer_links'))

        {

            $b['top']['block_footer_links'] = $tmp;

        }

        //Secondary custom footer links

        if ($tmp = $block->getChildHtml('block_footer_links2'))

        {

            $b['top']['block_footer_links2'] = $tmp;

        }

    ?>



    <?php if (!empty($b['top'])): ?>



    <div class="footer-top-container section-container">

        <div class="footer-top footer container">

            <div class="inner-container links-wrapper-separators">
                <?php
                if ($currentLocaleCode == 'en_US') {
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('footer_above_content')
                ->toHtml();
                }elseif ($currentLocaleCode == 'ar_SA') {
                    echo $this->getLayout()
                    ->createBlock('Magento\Cms\Block\Block')
                    ->setBlockId('footer_above_contentAr')
                    ->toHtml();
                }
                ?>
                

            </div> <!-- end: inner-container -->

        </div> <!-- end: footer-top -->

    </div>



    <?php endif; ?>



    <?php

        $b['primary'] = $theme->getFormattedBlocks($block, $theme->getCfg('footer/links_column_auto_width'));



        if ($tmp = $block->getChildHtml('block_footer_primary_bottom_left'))

        {

            $b['primary_bottom']['left'] = $tmp;

        }

        if ($tmp = $block->getChildHtml('block_footer_primary_bottom_right'))

        {

            $b['primary_bottom']['right'] = $tmp;

        }

        if ($theme->getCfg('footer/newsletter') && $tmp = $block->getChildHtml('subscribe'))

        {

            $b['primary_bottom']['newsletter'] = $tmp;

        }



        if ($tmp = $block->getChildHtml('footer'))

        {

         $b['primary_top']['magentoDefaultFooterContainerHtml'] = $tmp;

        }

    ?>

    

    <?php if (!empty($b['primary']) || !empty($b['primary_bottom']) || !empty($b['primary_top'])): ?>

    

    

    

    <?php endif; ?>



    <?php

        if ($tmp = $block->getChildHtml('copyright'))

        {

            $b['bottom']['copyright'] = $tmp;

        }

        if ($tmp = $block->getChildHtml('block_footer_payment'))

        {

            $b['bottom']['block_footer_payment'] = $tmp;

        }

        if ($theme->getCfg('footer/store_switcher') && $tmp = $block->getChildHtml('store_switcher'))

        {

            $b['bottom']['store_switcher'] = $tmp;

        }

    ?>



    <?php if (!empty($b['bottom'])): ?>


<div class="footer-primary-container section-container<?php //if($classString['primary-container']) echo " " . $classString['primary-container']; ?>">

        <div class="footer-primary footer container">

            <div class="inner-container">
                <?php if ($currentLocaleCode == 'en_US') {  ?>
                <?php
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('block_footer_column1')
                ->toHtml();
                } 
                ?>
                <?php if ($currentLocaleCode == 'ar_SA') {  ?>
                <?php
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('block_footer_columnAr')
                ->toHtml();
                } 
                ?>

            </div> <!-- end: inner-container -->

        </div> <!-- end: footer-primary -->

    </div>
    <div class="footer-bottom-container section-container">

        <div class="footer-bottom footer container">
            
            <div class="inner-container">

               

                <?php if (!empty($b['bottom']['copyright'])): ?>

                    <div class="item item-left">

                        <div class="footer-copyright"><?php echo $b['bottom']['copyright']; ?></div>

                    </div>

                <?php endif; ?>



                <?php if (!empty($b['bottom']['block_footer_payment'])): ?>

                    <div class="item item-right"><?php echo $b['bottom']['block_footer_payment']; ?></div>

                <?php endif; ?>



                <?php if (!empty($b['bottom']['store_switcher'])): ?>

                    <div class="item item-right"><?php echo $b['bottom']['store_switcher']; ?></div>

                <?php endif; ?>



            </div> <!-- end: inner-container -->

        </div> <!-- end: footer-bottom -->

    </div>



    <?php endif; ?>

    

    <a id="scroll-to-top" class="ic ic-up" href="#top"></a>



</div> <!-- end: footer-container3 -->

</div> <!-- end: footer-container2 -->

</div> <!-- end: footer-container -->




<style type="text/css">
    .mgs-popup.modal-popup #mgs-popup {
width: 60%;
height: 100%;
}

.content-popup {
padding: 5%!important;
margin-top: 0px !important;
}

.img-popup {
padding: 0px 12px;
}
.img-popup img{
    height: -webkit-fill-available;
}
.modal-popup .action-close:before {
line-height: 20px !important;
}

@media only screen and (max-width: 767px){
.modal-popup.modal-slide {
left: 0px !important;
}
.mgs-popup.modal-popup #mgs-popup {
width: 100%;
height: 100%;
}
.mgs-popup.modal-popup .modal-content {
padding: 15px !important;
}
}

.nav-container.skip-content.sticky-container--full-width.stickyHeader {
position: fixed;
left: 0;
right: 0;
width: 100%;
top: 0;
background: #f8c6c5;
z-index: 1001;
}

/*rvi wrk*/
/*.mgs-popup.modal-popup #mgs-popup {*/
/*width: 60%;*/
/*height: 100%;*/
/*}*/

/*.content-popup {*/
/*padding: 5%!important;*/
/*margin-top: 0px !important;*/
/*}*/

/*.img-popup {*/
/*padding: 0px 12px;*/
/*}*/

/*.modal-popup .action-close:before {*/
/*line-height: 20px !important;*/
/*}*/

/*@media only screen and (max-width: 767px){*/
/*.modal-popup.modal-slide {*/
/*left: 0px !important;*/
/*}*/
/*.mgs-popup.modal-popup #mgs-popup {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
/*.mgs-popup.modal-popup .modal-content {*/
/*padding: 15px !important;*/
/*}*/
/*}*/

.mgs-popup.modal-popup #mgs-popup {
width: 60%;
height: 450px !important;
}

@media only screen and (min-width: 768px) {

.mgs-popup.modal-popup #mgs-popup {
width: 60%;
height: 450px !important;
}

.tmp4-img-content {
top: 0px !important;
bottom: 0px;
}

.modal-popup .action-close {
z-index: 9999 !important;
}

.tmp4-text-content {
margin: 25px 0 0 10px !important;
}

.tmp4-button {
height: 40px !important;
margin: 20px 0 0 !important;
}

.mgs-popup.modal-popup .checkbox {
margin: 20px 10px !important;
}

.mgs-popup.modal-popup .popup-content {
text-align: left !important;
/*margin-top: 479px;*/
}

.tmp4-form {
width: 43% !important;
}


}

/* Slick Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


</style>