.admin__menu .item-giftcard-root-commonlyvisible > a:before,
.admin__menu .item-giftcard-root.parent.level-0 .submenu > .submenu-title:before,
.config-nav-block .md_section_giftcard a:before {
    content: '';
    background-image: url('@{baseDir}Magedelight_Giftcard/fonts/icon.svg');
    background-repeat: no-repeat;
    height: 32px;
    background-size: 34px;
    background-position-x:left;
    background-position-y: 0;
    display: inline-block;
    padding: 0;
    width: 36px;
    margin-right: 5px;
    float: left;
}

.admin__menu .item-giftcard-root.parent.level-0 .submenu > .submenu-title:before {
    background-position-y: -2px;
}
.config-nav-block .md_section_giftcard a:before {
    background-position-y: -38px;
}