<?php

/**

 * @var \Infortis\Base\Block\Html\Header $block

 */

?>

<?php

    $theme = $block->getHelperTheme();

    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
    $storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $localeResolver  = $objectManager->get('\Magento\Framework\Locale\Resolver');
    $currentLocaleCode = $localeResolver->getLocale();
    // //Get HTML of header blocks

    // $storeSwitcherHtml = $block->getChildHtml('store_switcher');

    // $copyrightHtml = $block->getChildHtml('copyright');

    // $footerLinksHtml = $block->getChildHtml('footer_links');

    // $cmsFooterLinksContainerHtml = $block->getChildHtml('cms_footer_links_container');

    // $newsletterHtml = $block->getChildHtml('subscribe');

    // $magentoDefaultFooterContainerHtml = $block->getChildHtml('footer');

?>

<div class="footer-container page-footer">

<div class="footer-container2">

<div class="footer-container3">



    <?php

        $b = array();

        if ($theme->getCfg('footer/footer_links') && $tmp = $block->getChildHtml('footer_links'))

        {

            $b['top']['footer_links'] = $tmp;

        }

        //Custom footer links - override default Magento footer links

        if ($tmp = $block->getChildHtml('block_footer_links'))

        {

            $b['top']['block_footer_links'] = $tmp;

        }

        //Secondary custom footer links

        if ($tmp = $block->getChildHtml('block_footer_links2'))

        {

            $b['top']['block_footer_links2'] = $tmp;

        }

    ?>



    <?php if (!empty($b['top'])): ?>



    <div class="footer-top-container section-container">

        <div class="footer-top footer container">

            <div class="inner-container links-wrapper-separators">
                <?php
                if ($currentLocaleCode == 'en_US') {
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('footer_above_content')
                ->toHtml();
                }elseif ($currentLocaleCode == 'ar_SA') {
                    echo $this->getLayout()
                    ->createBlock('Magento\Cms\Block\Block')
                    ->setBlockId('footer_above_contentAr')
                    ->toHtml();
                }
                ?>
                

            </div> <!-- end: inner-container -->

        </div> <!-- end: footer-top -->

    </div>



    <?php endif; ?>



    <?php

        $b['primary'] = $theme->getFormattedBlocks($block, $theme->getCfg('footer/links_column_auto_width'));



        if ($tmp = $block->getChildHtml('block_footer_primary_bottom_left'))

        {

            $b['primary_bottom']['left'] = $tmp;

        }

        if ($tmp = $block->getChildHtml('block_footer_primary_bottom_right'))

        {

            $b['primary_bottom']['right'] = $tmp;

        }

        if ($theme->getCfg('footer/newsletter') && $tmp = $block->getChildHtml('subscribe'))

        {

            $b['primary_bottom']['newsletter'] = $tmp;

        }



        if ($tmp = $block->getChildHtml('footer'))

        {

         $b['primary_top']['magentoDefaultFooterContainerHtml'] = $tmp;

        }

    ?>

    

    <?php if (!empty($b['primary']) || !empty($b['primary_bottom']) || !empty($b['primary_top'])): ?>

    

    <div class="footer-primary-container section-container<?php //if($classString['primary-container']) echo " " . $classString['primary-container']; ?>">

        <div class="footer-primary footer container">

            <div class="inner-container">
                <?php if ($currentLocaleCode == 'en_US') {  ?>
                <?php
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('block_footer_column1')
                ->toHtml();
                } 
                ?>
                <?php if ($currentLocaleCode == 'ar_SA') {  ?>
                <?php
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('block_footer_columnAr')
                ->toHtml();
                } 
                ?>

            </div> <!-- end: inner-container -->

        </div> <!-- end: footer-primary -->

    </div>

    

    <?php endif; ?>



    <?php

        if ($tmp = $block->getChildHtml('copyright'))

        {

            $b['bottom']['copyright'] = $tmp;

        }

        if ($tmp = $block->getChildHtml('block_footer_payment'))

        {

            $b['bottom']['block_footer_payment'] = $tmp;

        }

        if ($theme->getCfg('footer/store_switcher') && $tmp = $block->getChildHtml('store_switcher'))

        {

            $b['bottom']['store_switcher'] = $tmp;

        }

    ?>



    <?php if (!empty($b['bottom'])): ?>



    <div class="footer-bottom-container section-container">

        <div class="footer-bottom footer container">

            <div class="inner-container">

                

                <?php if (!empty($b['bottom']['copyright'])): ?>

                    <div class="item item-left">

                        <div class="footer-copyright"><?php echo $b['bottom']['copyright']; ?></div>

                    </div>

                <?php endif; ?>



                <?php if (!empty($b['bottom']['block_footer_payment'])): ?>

                    <div class="item item-right"><?php echo $b['bottom']['block_footer_payment']; ?></div>

                <?php endif; ?>



                <?php if (!empty($b['bottom']['store_switcher'])): ?>

                    <div class="item item-right"><?php echo $b['bottom']['store_switcher']; ?></div>

                <?php endif; ?>



            </div> <!-- end: inner-container -->

        </div> <!-- end: footer-bottom -->

    </div>



    <?php endif; ?>

    

    <a id="scroll-to-top" class="ic ic-up" href="#top"></a>



</div> <!-- end: footer-container3 -->

</div> <!-- end: footer-container2 -->

</div> <!-- end: footer-container -->




<style type="text/css">
    .mgs-popup.modal-popup #mgs-popup {
width: 60%;
height: 100%;
}

.content-popup {
padding: 5%!important;
margin-top: 0px !important;
}

.img-popup {
padding: 0px 12px;
}
.img-popup img{
    height: -webkit-fill-available;
}
.modal-popup .action-close:before {
line-height: 20px !important;
}

@media only screen and (max-width: 767px){
.modal-popup.modal-slide {
left: 0px !important;
}
.mgs-popup.modal-popup #mgs-popup {
width: 100%;
height: 100%;
}
.mgs-popup.modal-popup .modal-content {
padding: 15px !important;
}
}

.nav-container.skip-content.sticky-container--full-width.stickyHeader {
position: fixed;
left: 0;
right: 0;
width: 100%;
top: 0;
background: #f8c6c5;
z-index: 1001;
}

/*rvi wrk*/
/*.mgs-popup.modal-popup #mgs-popup {*/
/*width: 60%;*/
/*height: 100%;*/
/*}*/

/*.content-popup {*/
/*padding: 5%!important;*/
/*margin-top: 0px !important;*/
/*}*/

/*.img-popup {*/
/*padding: 0px 12px;*/
/*}*/

/*.modal-popup .action-close:before {*/
/*line-height: 20px !important;*/
/*}*/

/*@media only screen and (max-width: 767px){*/
/*.modal-popup.modal-slide {*/
/*left: 0px !important;*/
/*}*/
/*.mgs-popup.modal-popup #mgs-popup {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
/*.mgs-popup.modal-popup .modal-content {*/
/*padding: 15px !important;*/
/*}*/
/*}*/

.mgs-popup.modal-popup #mgs-popup {
width: 60%;
height: 450px !important;
}

@media only screen and (min-width: 768px) {

.mgs-popup.modal-popup #mgs-popup {
width: 60%;
height: 450px !important;
}

.tmp4-img-content {
top: 0px !important;
bottom: 0px;
}

.modal-popup .action-close {
z-index: 9999 !important;
}

.tmp4-text-content {
margin: 25px 0 0 10px !important;
}

.tmp4-button {
height: 40px !important;
margin: 20px 0 0 !important;
}

.mgs-popup.modal-popup .checkbox {
margin: 20px 10px !important;
}

.mgs-popup.modal-popup .popup-content {
text-align: left !important;
/*margin-top: 479px;*/
}

.tmp4-form {
width: 43% !important;
}


}
</style>