
<div class="brand-carousel section-padding owl-carousel">
  <div class="single-logo">
    <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
  </div>
  <div class="single-logo">
    <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
  </div>
  <div class="single-logo">
    <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
  </div>
  <div class="single-logo">
    <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
  </div>
  <div class="single-logo">
    <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
  </div>
  <div class="single-logo">
    <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
  </div>
</div>





<!--- ignore the code below-->

<div class="link-area">
  <a href="https://www.youtube.com/channel/UCki4IDK86E6_pDtptmsslow" target="_blank">Click for More</a>
</div>
<script type="text/javascript">
    requirejs(['jquery'], function( $ ) {

        $(document).ready(function(){
		    $('.brand-carousel').owlCarousel({
		  loop:true,
		  margin:10,
		  autoplay:true,
		  responsive:{
		    0:{
		      items:1
		    },
		    600:{
		      items:3
		    },
		    1000:{
		      items:5
		    }
		  }
		})
		});
    });
</script>


<style type="text/css">
	
.section-padding{
  padding:60px 0;
}
.brand-carousel {
  background: #eee;
  margin-top: 10%;
}
.owl-dots{
  text-align: center;
}

.owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #222222 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}

.owl-dot.active {
  background-color: #FF170F !important;
}



/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;  
  padding:15px;
  border-radius:40px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}
</style>